[2016-10-13 13:49] rayrutjes opened #1 "Create price range widget"

[2016-10-13 13:50] rayrutjes opened #2 "Isolate widgets in their own repositories"
IMO opinion it would be a good idea to extract all widgets from this repository.

PROS:
- Show users how easy it is to create custom widgets
- Only import the widgets and their sub-dependencies
- Cleanup the exports

CONS:
- Needs to npm install widgets 1 by 1 (maybe we could create a vue-algolia-search-widgets bundle) which includes commonly used widgets

[2016-10-13 13:51] rayrutjes opened #3 "Create hierarchical list widget"

[2016-10-13 13:53] rayrutjes opened #4 "Lazy loading results"
To be able to lazy load results, we need to keep a computed hits value inside the searchResults widget

[2016-10-13 16:33] #1 closed, assigned to nobody

[2016-11-27 15:08] rayrutjes opened #5 "Use Vue.js 2.1.0 changes"
V2.1.0 comes with some great improvements when it comes to re-usability.

We should use:
- Filters in v-bind
- Scoped slots instead of passing components (for the hit template for example)
- See more: https://github.com/vuejs/vue/releases/tag/v2.1.0

[2017-02-16 12:35] #5 closed, assigned to nobody

[2017-02-16 12:35] #4 closed, assigned to nobody

[2017-03-14 15:22] #3 closed, assigned to nobody

[2017-03-14 15:22] #2 closed, assigned to nobody

[2017-03-14 15:23] Haroenv opened #10 "change name of build folder"
build is usually used like dist (and thus often ignored in editors), How are other projects calling a directory with rollup configs?

[2017-03-14 15:32] #10 closed, assigned to nobody

[2017-03-14 15:39] Haroenv opened #11 "add metadata to each package"
- [x] README.md
  - [x] name of component
  - [x] example of usage
- [x] package.json
  - [x] name
  - [x] description
  - [x] git repo link (with path)
  - [x] specific dependencies? (no * maybe)
- [x] tests

[2017-03-14 15:46] Haroenv opened #12 "Add correct version to search store UA"
[algolia-search-store/src/index.js#L55](https://github.com/algolia/vue-algolia-search/blob/c288efd54234de3aa455ed219bbfd4f3797eabe7/packages/algolia-search-store/src/index.js#L55)

Something like this will probably work

[code]

[2017-03-14 16:04] Haroenv opened #13 "make components that are not applicable render disabled"
Rendering them with a disabled attribute, instead of not at all will allow users to stay with their mouse on the same place, while now other components disappearing or changing height makes that hard.

[2017-03-14 17:50] rayrutjes opened #14 "Rename StarsFacet to RatingFacet"

[2017-03-14 18:20] rayrutjes opened #17 "Showcase / perfect the possibility of targeting multiple indices"
The best would be to try out an autocomplete-like experience.

For the record, there is mainly one scenario that we want to cover for now:
- 1 search input
- Results from different indices

[2017-03-15 11:12] #14 closed, assigned to rayrutjes

[2017-03-15 12:57] rayrutjes opened #21 "Accept unlimited nested levels in navigation tree"

[2017-03-15 13:40] rayrutjes opened #23 "Hits vs Results battle"
We still have places where we talk about hits (mainly in the search results component).

We should either go full-in for hits or go with results.

I know that we both chose to name it Results when we first used Algolia, but if we use that naming, we need to ensure "hits" is never used anywhere.

cc @Haroenv

Also "hits" is shorter than "results".

If we go for results we need to:
- [x] Convert cla

[2017-03-16 08:59] #23 closed, assigned to rayrutjes

[2017-03-16 10:03] rayrutjes opened #26 "Expose simple vocab"
One SearchFacet

[2017-03-16 15:52] #26 closed, assigned to nobody

[2017-03-16 15:55] #17 closed, assigned to nobody

[2017-03-17 09:22] #13 closed, assigned to rayrutjes

[2017-03-17 10:37] rayrutjes opened #34 "Bootstrap tests"

[2017-03-17 12:59] #34 closed, assigned to nobody

[2017-03-18 12:45] rayrutjes opened #37 "Bootstrap docs"
Tooling:
---

Choose an easy to use tool for the docs, maybe just gitbook as a starter.

Navigation:
---

- Getting Started
  - Introduction (What is this lib)
  - Installation
    * Compatibility Note
    * Release Notes
    * Direct <script> Include
    * CDN
    * NPM / YARN
  - Components
    * SearchStore
    * etc

Component:
---

For each component, we need to document:

### Algolia index c

[2017-03-18 13:42] rayrutjes opened #38 "Refactor "playground" to "store" example"
We should keep examples inside the monorepo.

That way we can easily test the examples while developing new features.

The best would be to prefix all examples with "example".

An other approach would be to use JSFiddle, like here: https://vuejs.org/v2/examples/index.html

[2017-03-18 13:42] rayrutjes opened #39 "Create an Autocomplete example"

[2017-03-18 13:47] rayrutjes opened #40 "Create a css bootstrap example"
We have currently chosen to respect the DOM.

We must now ensure that it is still easy to integrate the components with existing frameworks like Bootstrap.

If it is not simple, we will need to consider refactoring some bits.

[2017-03-19 18:28] rayrutjes opened #41 "Use computed setters when possible"
It looks like I overlooked the "setter" capability of computed props: https://vuejs.org/v2/guide/computed.html#Computed-Setter

Let's check if we can use this somewhere.

[2017-03-21 10:05] rayrutjes opened #42 "Search store state should not be mutated directly"
Given the "provided" values will be "reactive" in a [future release](https://github.com/vuejs/vue/pull/5229/files), we should not rely on direct mutations of the store.

That means we will need to probably use mutator functions or something of that kind.

[2017-03-23 08:59] #41 closed, assigned to rayrutjes

[2017-03-23 09:25] rayrutjes opened #48 "Add a quick start example using UMD builds"

[2017-03-23 10:15] #38 closed, assigned to nobody

[2017-03-23 11:12] rayrutjes opened #50 "Add header/footer slots to search-results component"

[2017-03-23 11:14] rayrutjes opened #51 "Create a PoweredBy component"

[2017-03-23 14:00] rayrutjes opened #52 "Implement Highlight / Snippet feature"
Find the best way to implement this.

- Filter?
- Functional component?
- Up to the user?
- XSS protection?

[2017-03-23 15:12] #39 closed, assigned to rayrutjes

[2017-03-23 15:12] #50 closed, assigned to rayrutjes

[2017-03-26 21:39] #51 closed, assigned to nobody

[2017-03-26 22:11] rayrutjes opened #57 "Add proper UMT tags to powered-by"

[2017-04-03 11:44] rayrutjes opened #59 "Provide a search input component with good defaults"
Ideally, there should be a default input with "clear button" + magnifying lense.

We need to see where this would fit.

[2017-04-03 11:45] rayrutjes opened #60 "Pagination component challenge radios"
Radios feels a bit weird here, probably needs to be challenged a bit more and see how intgrating something like Bootstrap works out would help.

[2017-04-03 11:45] rayrutjes opened #61 "POC URL sync"
build a POC of what URL sync could look like.
It will remain a user concern though.

[2017-04-03 11:46] rayrutjes opened #62 "Make pagination start at 1 everywhere"

[2017-04-03 11:48] rayrutjes opened #63 "Naming"
Conform with existing IS implems for most of the components.

Keep "results" and "navigationTree".

Use the same prefix everywhere (to be defined):
- ais
- alg
- algolia

[2017-04-03 11:48] rayrutjes opened #64 "Rename index to index-name where applicable"

[2017-04-03 11:49] rayrutjes opened #65 "Make sure refinement list can have multi / single mode"

[2017-04-03 12:34] #62 closed, assigned to nobody

[2017-04-03 12:46] #64 closed, assigned to rayrutjes

[2017-04-03 12:51] rayrutjes opened #68 "Refactor all classes to ais prefix"

[2017-04-03 13:39] #63 closed, assigned to nobody

[2017-04-03 14:42] #68 closed, assigned to nobody

[2017-04-03 14:46] #65 closed, assigned to nobody

[2017-04-03 15:39] #48 closed, assigned to rayrutjes

[2017-04-04 13:04] #52 closed, assigned to nobody

[2017-04-04 13:18] #42 closed, assigned to nobody

[2017-04-04 13:37] rayrutjes opened #73 "Remove all for input "name" props"
Given we are moving away from a "form elements only" approach, and that the state is already hold by the Store, there is no need to name the different form elements.

It just adds more entropy to the current code.

[2017-04-04 13:37] rayrutjes opened #74 "Rename "attribute" to "attribute-name" where applicable"

[2017-04-04 14:30] rayrutjes opened #77 "Find an elegant way to allow overriding of all arias"

[2017-04-04 14:30] rayrutjes opened #78 "Find an elegant way to allow overriding of all classes"
I think best would be to have a common API for all components.
User should be able to provide classes to override, i.e.
[code]

Specs:
- Should only override provided classes and keep others
- Should allow by design to be overloaded on all components (idea being that user can provide all his classes per component without bloating the actual DOM)

Not sure where this should be handled.

WDYT @Haroe

[2017-04-04 14:43] rayrutjes opened #79 "Settle on styles VS no styles as part of the components"
The worst experience is to have to much default styles part of the components.

Even the simple fact as putting in bold an active refinement can have undesired effects when use in a CSS framework context.

Let's make sure we dissociate styles from the components. All of them.

[2017-04-04 17:05] rayrutjes opened #80 "Find the best strategy regarding integration with existing CSS framework"
As a user of a UI library, I will want to integrate the components with existing styles.

We should try to come up with an easy solution that allows us to easily be compatible with those.
- http://getbootstrap.com/css/
- http://foundation.zurb.com/
- https://getmdl.io/
- http://bulma.io/

Maybe this can be solved by only overriding classes. That would be ideal.
Also if this could be prepared at th

[2017-04-05 19:44] #73 closed, assigned to nobody

[2017-04-05 19:44] #60 closed, assigned to nobody

[2017-04-05 19:44] #74 closed, assigned to nobody

[2017-04-05 20:24] #79 closed, assigned to nobody

[2017-04-10 06:54] #78 closed, assigned to nobody

[2017-04-10 06:59] #77 closed, assigned to nobody

[2017-04-10 07:43] #40 closed, assigned to nobody

[2017-04-10 12:06] #80 closed, assigned to nobody

[2017-04-11 10:11] Haroenv opened #88 "clearAll: option to not clear query"
`clearsQuery`: bool, default false

That way it's the same as the other InstantSearch implementations.

[2017-04-11 10:48] rayrutjes opened #89 "Store component should accept store instance"
We should be able to do:

[code]

[2017-04-11 15:07] #61 closed, assigned to nobody

[2017-04-11 15:08] #89 closed, assigned to nobody

[2017-04-11 15:18] #57 closed, assigned to nobody

[2017-04-12 07:57] #88 closed, assigned to nobody

[2017-04-13 09:12] rayrutjes opened #94 "Export component names without Ais prefix"
We should keep prefix for HTML elements but not for ES6 exports

[2017-04-13 13:03] #94 closed, assigned to nobody

[2017-04-13 13:04] #59 closed, assigned to nobody

[2017-04-13 14:18] #12 closed, assigned to nobody

[2017-04-16 09:07] #21 closed, assigned to rayrutjes

[2017-04-19 12:22] rayrutjes opened #101 "Investigate support snippet/highlight for arrays"

[2017-04-25 10:04] rayrutjes opened #102 "Setup pipeline for JSDeliver submissions"
Now easy to setup thanks to NPM coupling

[2017-04-25 10:05] rayrutjes opened #103 "Accept all standard search parameters"
Currently, only few parameters are supported by the store.
We should support all of them.

[2017-04-25 10:06] rayrutjes opened #104 "Setup a JSFiddle once we have a beta release"

[2017-04-26 09:17] rayrutjes opened #105 "Do an example of autocomplete coupling"
- [ ] Find the most used autocomplete library in Vue.js (https://www.npmjs.com/package/vue2-autocomplete-js)
- [ ] It would be nice it supports multi index
- [ ] Implement a bridge

[2017-04-26 16:19] rayrutjes opened #106 "JS replace only replaces first occurence"
We should replace highlighting tags with something different than the replace method in highlighting and snippetting components.

[2017-05-19 00:28] rayrutjes opened #110 "Switch from buble to babel"
* allow JSX support
* allow running tests on es6 files (leveraging babel vue plugin)
* same config between jest tests and actual builds

[2017-05-19 08:04] #106 closed, assigned to nobody

[2017-05-21 10:46] #103 closed, assigned to nobody

[2017-05-21 19:38] #110 closed, assigned to nobody

[2017-05-22 09:55] #105 closed, assigned to nobody

[2017-05-22 22:01] rayrutjes opened #116 "Merge all components under a single package"

[2017-05-22 22:03] rayrutjes opened #117 "Escape data recursively"
See https://github.com/algolia/instantsearch.js/pull/2158

[2017-05-22 23:18] rayrutjes opened #119 "Rename Store to SearchStore"
I think that will make more sense.

[2017-05-22 23:18] rayrutjes opened #120 "Extract examples to a separate repository"

[2017-05-22 23:25] rayrutjes opened #121 "Find a way to remove query parameters"
Currently, if we bind an object to queryParameters of the index, it will only append new parameters.
We should try to find a way to also remove them if they are removed from the object.

Try the workaround of putting values to `null` or `undefined`.

[2017-05-23 08:41] #120 closed, assigned to nobody

[2017-05-23 12:23] #116 closed, assigned to nobody

[2017-05-23 13:27] #121 closed, assigned to nobody

[2017-05-23 16:12] #11 closed, assigned to nobody

[2017-05-23 16:27] rayrutjes opened #125 "Implement url generation for components that have links"
This will have an impact at different levels and will be required for SSR
See: https://community.algolia.com/react-instantsearch/guide/Routing.html

[2017-05-24 13:56] #119 closed, assigned to nobody

[2017-05-31 05:39] julienbourdeau opened #136 "How to search into multiple indices"
I have one search which search into 2 separate indices and display the results in 2 columns.

For instance with WordPress, I would display the results in posts and pages or comments.

Is there a way to achieve that?

[2017-05-31 22:52] rayrutjes opened #137 "Reject store sync when error occured"
When [this](https://github.com/algolia/algoliasearch-helper-js/pull/504) is resolved, we can reject the Promise [here](https://github.com/algolia/vue-instantsearch/blob/master/src/store.js#L376).

[2017-06-07 12:38] rayrutjes opened #139 "feat: initial-refinement"

[2017-06-08 16:50] nilsi opened #140 "link in docs not working"
It seems like the link in the docs is broken, has it moved?

https://community.algolia.com/vue-instantsearch

[2017-06-08 16:59] rayrutjes commented on #140
Hey @nilsi ,

Thanks for jumping in.

This project is currently in Beta and we are still actively working on every aspect of it which includes documentation ;)

The page you are referring to is yet to be done and published.

For now, you can access the docs here: http://vue-instantsearch.netlify.com/

Feel free to report anything you do not understand ;)

If you are to proceed with testing this, p

[2017-06-08 17:19] nilsi commented on #140
Thank you, that looks great! Yes it would be awesome to try this out. I will be implementing Algolia very soon but Im not sure if I should go with the Javascript implementation or give this a shot. How far are you from a stable version and do you think the API will change later on?

What I need to build is actually exactly like your example here:
https://deploy-preview-138--vue-instantsearch.netli

[2017-06-09 11:56] rayrutjes commented on #140
This library is provides an easy way to integrate Algolia with the [Vue.js framework](https://vuejs.org/).

So if you are using Vue.js or plan to use it, then this library is definitely the good choice.

- If you are using React we also have a dedicated integration: https://community.algolia.com/react-instantsearch/
- If you are using plain JavaScript we also have an integration: https://community

[2017-06-10 17:23] #136 closed

[2017-06-12 12:46] vvo commented on #140
I think we can close this. @nilsi we would love to have your feedback if you try this library (you should), let us know via a new issue.

The docs are online on http://vue-instantsearch.netlify.com/ now.

[2017-06-12 12:46] #140 closed

[2017-06-12 12:47] vvo opened #143 "Add [EDIT THIS PAGE] to docs"
Especially for new libraries, this will help a lot people to quickly edit mistakes.

[2017-06-12 12:52] vvo opened #144 "Add a GitHub issue template"
Example: https://raw.githubusercontent.com/algolia/instantsearch.js/2bd93adaf9dde42e52407d9a75190045bb45d778/.github/ISSUE_TEMPLATE.md

[2017-06-12 12:56] rayrutjes commented on #143
I think we should create 1 issue that is "create the build system for the docs" ;)

[2017-06-12 12:58] vvo opened #145 "Edit UMD codepen to include vue with jsdelivr"
Feels weird to see on https://codepen.io/rayrutjes/pen/BRgyGV that you both use unpkg and jsDelivr.

Here's the jsDelivr url: https://cdn.jsdelivr.net/npm/vue@2.3.2/dist/vue.min.js

[2017-06-12 12:59] vvo commented on #143
Doesn't gitbook provide this by default as an option?

[2017-06-12 13:00] Haroenv commented on #143
https://github.com/rtCamp/gitbook-plugin-edit-link

[2017-06-12 13:05] vvo commented on #143
and _voilà_

[2017-06-12 13:12] rayrutjes commented on #145
unpkg is the default promoted Vue way so I thought I'd stick with that to not generate confusion.

[2017-06-12 13:14] vvo commented on #145
Good point if people from Vue Community expect that. I did not know.

[2017-06-12 13:14] #145 closed

[2017-06-12 13:29] #143 closed

[2017-06-12 13:30] #144 closed

[2017-06-12 13:35] Haroenv commented on #102
This can be closed now, since it’s published without problem on npm.

* https://cdn.jsdelivr.net/npm/vue-instantsearch
* https://unpkg.com/vue-instantsearch

[2017-06-12 13:35] #102 closed

[2017-06-12 13:46] vvo opened #148 "Add a styling guide"
This is much required in UI libraries: https://community.algolia.com/react-instantsearch/guide/Styling_widgets.html

[2017-06-12 13:47] Haroenv commented on #148
It should contain what the classes convention is and how to override them

[2017-06-12 13:50] vvo commented on #148
exactly

[2017-06-12 14:15] vvo opened #149 "Infinite scroll example should not rely on a polyfill"
It's sad but the Intersection Observer API is not fully supported by browsers (namely, all Safari versions).

Let's use something that does not requires the user to provide a polyfill (or at least includes the polyfill in a way in the example) since detecting for scroll position has been around for years (even without the new browser API).

Example: https://github.com/vvo/in-viewport (old, might f

[2017-06-12 15:41] Haroenv opened #151 "Conditional Display guide"
There should be a guide on how to do https://community.algolia.com/react-instantsearch/guide/Conditional_display.html with Vue InstantSearch to get a JadoPado or Yarn experience

[2017-06-12 20:07] rayrutjes commented on #149
Wasn't aware of your package, impressive ;)

I actually chose to go down to polyfill path because I thought it was the best future proof way to tackle the use case.

Not using a polyfill approach would mean having less good perfs than the native Observer API I guess.

As for now, this is not part of the library anyway, it is just 1 example of how to achieve the detection.

I do not feel comfortabl

[2017-06-12 20:23] vvo commented on #149
Sorry I was not clear enough. What I missed from the example is that it says "You should include a polyfill, see this repo".

Then you end up on a repo that says "you should include a polyfill" without a good explanation on how to actually do this.

As for our own examples, they need to work in all major browsers (which is not the case here, safari fails).

So this example should have its own code

[2017-06-14 07:36] vvo opened #153 "provide a way to run gitbook locally"
So that we can easily tune docs.

It also means that we would have to put gitbook as a devdep (and that would simplify the netlify build command)

[2017-06-14 08:09] rayrutjes commented on #153
You can run gitbook locally by running:
[code]

[2017-06-14 10:01] vvo commented on #153
will add that to the build then

[2017-06-14 10:19] rayrutjes commented on #153
gitbook is only a temporary solution to focus on content. Don't spend too much time on it.
The idea is to leave it as decoupled as possible from the rest so that we can switch to something else in the upcoming weeks.

[2017-06-14 11:07] vvo commented on #153
Yep, but still think it's pretty good for now!

[2017-06-14 11:49] vvo commented on #153
done

[2017-06-14 11:49] #153 closed

[2017-06-14 12:39] vvo opened #154 "Provide a nicer test/watch tests"
Current unit tests and tests watch env is a bit broken because:
- relies on the standalone, single-file, commonjs build, breaks code coverage
- relies on [concurrently](https://github.com/kimmobrunfeldt/concurrently) to run rollup watch and jest side by side (breaks jest interactive command line)
- fragile watch env: build may or may not be ready when tests are passing and you could be using a pre

[2017-06-14 12:40] vvo commented on #154
cc @posva you have some context to this?

[2017-06-14 12:43] vvo commented on #154
Just solved that, with --raw

[2017-06-14 19:51] greenkeeper[bot] opened #156 "Action required: Greenkeeper could not be activated 🚨"
🚨 You need to enable Continuous Integration on all branches of this repository. 🚨

To enable Greenkeeper, you need to make sure that a [commit status](https://help.github.com/articles/about-statuses/) is reported on all branches. This is required by Greenkeeper because we are using your CI build statuses to figure out when to notify you about breaking changes.

Since we did not receive a CI status

[2017-06-15 08:29] posva commented on #154
Hi! The truth is I still haven't used Jest with Vue but what I'm sure is that you need some kind of preprocessor. I found this one: https://github.com/vire/jest-vue-preprocessor who looks actively maintained. I looked at the code, and it looks like it's doing something similar to the rollup plugin, I also saw another core team member on the contributor list whom I know is using Jest to test Vue 🙂

[2017-06-15 09:51] rayrutjes commented on #154
Thanks for jumping in @posva .
We saw the preprocessor indeed, but it seems it doesn't solve the code coverage issue for now.
We might still want to give it a try to see if it improves our dev workflow.

[2017-06-20 21:26] imsus opened #158 "<ais-highlight> Does not support object"
**Do you want to request a *feature* or report a *bug*?**
Bug

**Bug: What is the current behavior?**
`<ais-highlight>` does not support object in `attribute-name` props.

**Bug: What is the expected behavior?**
`<ais-highlight>` should support string/array/object value.

**Bug: What browsers are impacted? Which versions?**
https://www.whatismybrowser.com/w/NYFRLGM

**Bug: What is the proposed sol

[2017-06-20 21:36] rayrutjes commented on #158
Thanks for the feedback @imsus ,

Indeed we only support a simple attribute so far.

Your solution would cover nested value access.

It would not solve the array support though. The problem with array is that you will want to be able to iterate over the values to for example join them with comas.

This definitely needs some work.

Feel free to suggest an API design.

[2017-06-21 08:21] vvo commented on #158
One way to get object support: implement something like [lodash.get](https://lodash.com/docs/4.17.4#get) (kind of "JSON path"). This is what [we use in react-instantsearch](https://github.com/algolia/react-instantsearch/blob/133892eb9f1646db8510540511c5aa0fc662afe8/packages/react-instantsearch/src/core/highlight.js#L28).

Then for array support we could maybe have something like v-for inside the h

[2017-06-21 08:27] rayrutjes commented on #158
I think that is what @imsus suggests.

v-for could work indeed and already works. The only issues comes if you want to `join` with a coma.

[2017-06-28 14:59] julienbourdeau opened #159 "[Feature] Only call Algolia under certain conditions"
I'm using the `query-parameters` in attributes in order to pass some filters to Algolia. I am using a reactive attributes to be able to change the query parameters.

[code]
[...]
[code]

In my actual app I'm call the my backend to be able to update the `params`.

Algolia will before a first call without the `filters` then when the params are updated, another call is performed. Since the ajax call

[2017-06-29 08:24] Haroenv commented on #159
This could be done by calling `store.stop` and `store.start` in the significant places. You need to pass a custom `searchStore` to the index component to be able to do that ([link](https://github.com/algolia/vue-instantsearch/blob/master/src/component.js#L4))

[2017-06-29 09:16] rayrutjes commented on #159
@Haroenv pointed you in the right direction.
Can you confirm that what you want to simply use custom query parameters from the first query sent to Algolia?
If so, it might be worth adding a dedicated section in the doc about "initializing with custom parameters". In your case the tricky part is that you request the params asynchronously right?

[2017-06-29 09:41] julienbourdeau commented on #159
I want avoid Algolia calls until I have properly set the query-parameters. I want to cancel the first call automatically made when the component is mounted, then set the params and make a correct call.

[2017-07-03 09:10] rayrutjes commented on #159
Ok, so in that case, you must indeed call `stop()` on the store and call `start()` once you get your data.

Internally the store keeps a counter of the number of times it was "stopped", in a way that any part of your code can control wether to freeze or not the syncing with Algolia.

Here is a POC (not tested and jsfiddle doesn't like es6 import but it gives you the main idea): https://jsfiddle.ne

[2017-07-08 15:15] Haroenv opened #167 "'item' class is duplicated in refinementList"
**Do you want to request a *feature* or report a *bug*?**
bug

**Bug: What is the current behavior?**
item is duplicated
**Bug: What is the expected behavior?**
classes being deduplicated by `bem`
**Bug: What is the proposed solution?**
find a way to dedupe in bem itself

cc @olance

related #163 #165

[2017-07-10 12:20] rayrutjes opened #168 "Use vuejs/eslint-plugin-vue"

[2017-07-10 12:27] Haroenv commented on #168
This is in `eslint-config-algolia/vue`, right?

[2017-07-10 12:31] rayrutjes commented on #168
No, we need to add it, but I think there were some issues with it. But now that @vvo cleaned up the repo, maybe we can try again.

[2017-07-12 13:19] maxiloc opened #170 "[Doc] <ais-input>"
Can we document \<ais-input\>

In my case I don't want to have the buttons that comes with \<ais-search-box\>

Also can we document how to bind to an existing input

[2017-07-12 13:29] rayrutjes opened #171 "[doc] Bind to existing input"
Document how to bind query to an existing input.

[2017-07-12 13:29] rayrutjes commented on #170
Thanks for the feedback, will do.
Opened a dedicated issue for the second part of your issue.

[2017-07-12 13:36] maxiloc opened #172 "ais-highlight only replace the first occurence of the match"
![image](https://user-images.githubusercontent.com/1689007/28120253-c40d849c-6717-11e7-81a3-7d328c041a52.png)

[2017-07-12 13:39] maxiloc opened #173 "Add possibility to use result._highlightResult.name.value"
It would take the default value.

For the security part of this, it should escape at retrieval and not at rendering

[2017-07-12 14:41] maxiloc opened #174 "[doc] how to use props"
We should add doc on how to use props, not sure if that should be at the widget level or higher

[2017-07-12 14:42] maxiloc opened #175 "Default value of resultsPerPage"
![image](https://user-images.githubusercontent.com/1689007/28123316-fbc95646-6720-11e7-825b-659fbfb385cf.png)

The default value should be a number or an explanation of where the number comes from in this case the api

[2017-07-12 14:45] maxiloc opened #176 "Props case should be underscore_case"
Right now we have all props on documentation in camelCase, if you are copy pasting to html it's not working as it's not valid html => we should probably update them to underscore_case

[2017-07-12 15:00] maxiloc opened #177 "[Doc] Side of the content is clickable"
![image](https://user-images.githubusercontent.com/1689007/28124247-69a0aef6-6723-11e7-83ac-dfd279b95ec8.png)

I would say that if you are not next to the arrow a click on the body should not change page.
I got confused while trying to select some text

[2017-07-12 15:40] maxiloc opened #178 "Url Sync option/widget"
Could be nice to have an option or widget to handle url sync automatically

[2017-07-13 13:41] rayrutjes opened #179 "Add autofocus option to search box and input"
Make sure this does not impact SSR.

[2017-07-13 13:43] Haroenv commented on #179
this is a html property, I'm pretty sure you can just do `<ais-input autofocus />` and it will work 😄

[2017-07-13 13:44] rayrutjes commented on #179
yes but we need to forward it from search-box down to the actual input ;)

[2017-07-13 13:45] rayrutjes opened #180 "Add default theme"
Port react-instantsearch or IS v2?

[2017-07-13 13:48] rayrutjes opened #181 "Hide pagination if no results"
Currently it is displayed.

[2017-07-13 13:51] rayrutjes opened #182 "Pagination disabled but still triggering page change"

[2017-07-13 14:09] rayrutjes opened #183 "Search is going over HTTP"
Wondering if this is algoliasearch lite related.

[2017-07-13 14:44] rayrutjes commented on #183
cc @olance

[2017-07-13 15:20] #183 closed

[2017-07-13 15:20] olance commented on #183
Didn't know that, I'll reopen if there's an issue once I move from localhost to prod :)

[2017-07-13 16:03] rayrutjes opened #184 "Check that facet exists before getting values"
https://github.com/algolia/vue-instantsearch/blob/master/src/store.js#L262

Currently it would fail if components are injected dynamically because lastResults would not contain given facet yet.

[2017-07-17 22:11] michaelchiche opened #186 "Does not work with vue 2.4.x"
**Do you want to request a *feature* or report a *bug*?**
I report a bug.

As in the link shown: https://codepen.io/anon/pen/KqLMXY#anon-login

**Bug: What is the current behavior?**
There is an exception which breaks the whole app

**Bug: What is the expected behavior?**
It should work fine

**Bug: What browsers are impacted? Which versions?**
Tested on latest versions of chrome, safari & firefox

[2017-07-18 08:21] Haroenv commented on #186
Hey @michaelchiche, we found out about this change yesterday as well, the problem is indeed that the dependency injection -- the context -- changed from Vue 2.3 to 2.4. We didn't find an immediate solution to this, but definitely will keep an eye on this and have it fixed asap. For now you can still use 2.3.X indeed

see also https://github.com/vuejs/vue/issues/6093

[2017-07-18 08:24] Haroenv commented on #186
A workaround in that thread is to do this after your import of Vue and before your import of Vue InstantSearch:

[code]

[2017-07-18 21:13] #175 closed

[2017-07-18 21:13] #176 closed

[2017-07-18 21:13] #177 closed

[2017-07-19 08:42] rayrutjes commented on #158
In #187 we are moving forward removing those brittle highlight & snippetting components so that you can use the values as usual.

That should solve your issue. Bear with us for the release.

[2017-07-19 08:42] #158 closed

[2017-07-19 12:19] #170 closed

[2017-07-19 13:16] #179 closed

[2017-07-19 13:17] rayrutjes commented on #170
I'm wondering why this was not autoclosed. @Haroenv , you are faster than the GH bot :trollface:

[2017-07-19 13:21] Haroenv commented on #170
It wasn’t autoclosed since you wrote `fix 170` instead of `fix #170`

[source](https://github.com/blog/2398-manage-issues-and-pull-requests-with-keyword-updates)

[2017-07-19 13:43] rayrutjes commented on #170
Oops 😫

[2017-07-19 13:44] rayrutjes commented on #156
Closing this for now. We will put it back eventually when everything is well tested.

[2017-07-19 13:44] #156 closed

[2017-07-19 13:45] rayrutjes commented on #37
Docs is available here while in Beta: http://vue-instantsearch.netlify.com/

[2017-07-19 13:45] #37 closed

[2017-07-19 13:50] Haroenv commented on #156
@vvo liked using [singapore/renovate](https://github.com/singapore/renovate), it works well with lockfiles

[2017-07-19 16:51] rayrutjes commented on #101
We are moving towards not having dedicated components but filtering at the results retrieval level.
We will then be able to use the usual `result._highlightResult.<attributeName>.value`.

[2017-07-19 16:51] #101 closed

[2017-07-19 16:54] rayrutjes commented on #117
deplicate #187

[2017-07-19 16:54] #117 closed

[2017-07-19 16:55] rayrutjes commented on #104
Examples are now part of the docs.

[2017-07-19 16:55] #104 closed

[2017-07-20 07:42] rayrutjes commented on #186
A fix has been merged. Now waiting for release of 2.4.2 🎉

[2017-07-20 12:14] #182 closed

[2017-07-20 12:14] #181 closed

[2017-07-20 12:24] vvo commented on #156
I recommend renovate, try it it's a GitHub integration and the owner is very responsive and willing to make it the best upgrader

[2017-07-20 17:28] rayrutjes commented on #168
I'd like to summon @vvo on this one :p

[2017-07-21 08:45] vvo commented on #168
Not sure it's ready yet, we need https://github.com/prettier/prettier/issues/2097 to ship more features I believe

[2017-07-21 11:49] rayrutjes commented on #168
Ok let's wait for it then ;)

[2017-07-21 11:55] rayrutjes commented on #186
@michaelchiche should now be fixed in 2.4.2 of Vue.js
Please re-open the issue if the new release does not solve your initial problem.

[2017-07-21 11:55] #186 closed

[2017-07-21 14:01] rayrutjes opened #192 "Linting issue"
Currently, if there is no import statement in a <script> tag in a .vue file, linting fails :/

![image](https://user-images.githubusercontent.com/5570853/28466781-ca2ecb34-6e2d-11e7-8d1d-f9150ba74270.png)

[2017-07-21 16:14] rayrutjes commented on #173
Done in #191

[2017-07-21 16:14] #173 closed

[2017-07-21 16:14] rayrutjes commented on #172
Done in #191

[2017-07-21 16:14] #172 closed

[2017-07-21 16:34] rayrutjes commented on #149
Opened this on the relevant repository ;)

[2017-07-21 16:34] #149 closed

[2017-07-21 23:27] #184 closed

[2017-07-21 23:27] #137 closed

[2017-07-22 00:25] rayrutjes opened #196 "[Vue warn]: Injection "_searchStore" not found"
In Vue 2.4.2, the index components throws the following error:

[code]

[2017-07-22 00:27] rayrutjes commented on #196
Probably a regression in Vue linked to the merging of mixins in 2.4.0 & 2.4.1
Maybe, missing injections were previously dying silently but not anymore.

[2017-07-22 00:33] rayrutjes commented on #192
I think that this is related to the fact import statements are on the same line as scripts.

[2017-07-24 08:23] bobylito opened #197 "Migrate to new Helper and JS Client"
In the coming months, we'll have new versions of the client and the helper. Let's get ready :)
https://github.com/algolia/algoliasearch-helper-js/issues/521

[2017-07-24 09:29] rayrutjes commented on #197
So according to @Haroenv comment, for now:
- we don't use methods that return promises
- we don't use deprecated methods
- we don't use initIndex

We will need to review the import strategy when the 2 libs get release though. Nothing actionable as of now if I'm not mistaken.

Let me know if there is something we could already do. Otherwise I'll close this until we have the 2 new versions.

[2017-07-24 09:31] Haroenv commented on #197
It's early to already think about the migration, the complicated part here should normally be handled by the helper, since it's a dependency

[2017-07-24 09:34] rayrutjes commented on #197
Can't wait to make the lib compatible with the new versions here to leverage tree shaking 🎉
Closing this for now until we can move forward.

[2017-07-24 09:34] #197 closed

[2017-07-24 09:35] bobylito commented on #197
Indeed, just wanted to bring awareness. :)

[2017-07-24 11:19] rayrutjes commented on #154
For the reference, is the official test tool that we could use in the future: https://github.com/vuejs/vue-test-utils

[2017-07-24 11:38] rayrutjes opened #202 "Finalize docs migration"
Things that needs to be addressed:
- [x] Put back the examples section with the pages (see previous docs)
- [x] Update social medias metas in the header
- [x] ~See with @bobylito if we can add section names to the menu so that we can cross navigate easier~
- [x] Separate advanced concepts like SSR from the getting started (see previous docs)

cc @LukyVj let me know with which items I can help, pro

[2017-07-24 13:17] LukyVj commented on #202
Hello
<details>world</details>

[2017-07-24 13:31] rayrutjes opened #205 "Better message when no search store is injected"
Currently, if no search store is wrapping a component, it will throw:
![image](https://user-images.githubusercontent.com/5570853/28525626-1c6e1644-7085-11e7-95fc-9594304860b2.png)

https://github.com/algolia/vue-instantsearch/blob/master/src/component.js#L12

[2017-07-24 14:47] Haroenv commented on #202
The css for highlighting for `js` and `sh` doesn't seem to be enabled, for `html` it works

[2017-07-24 14:52] rayrutjes opened #208 "Docs UX & UI improvements"
- [x] Align different titles
![image](https://user-images.githubusercontent.com/5570853/28529058-c717f5b0-708f-11e7-9f76-bd0f4bd3a091.png)

- [x] Use more readable colors in highlighting
![image](https://user-images.githubusercontent.com/5570853/28529078-d7dcc100-708f-11e7-9166-f36c1aba9757.png)

- [x] Make the "edit page" button more visible and breath more
![image](https://user-images.githubuser

[2017-07-24 14:53] rayrutjes commented on #202
Just opened an issue for all the style issues we have #208 , feel free to add your feedback there @Haroenv if you find anything else ;)

[2017-07-25 15:33] #208 closed

[2017-07-25 15:34] rayrutjes commented on #202
for js => javascript
for sh => shell

all good now

[2017-07-25 15:34] #202 closed

[2017-07-26 12:03] rayrutjes opened #217 "Make the getting started guide use the UMD build"
Make the getting started guide use the UMD build directly from the browser.
It will shorten the guide, and make it easier to have users play with the library.

We can migrate the current getting started to another page (the next one?) as it is more close to real world projects.

cc @maxiloc

[2017-07-26 12:04] Haroenv commented on #217
Makes sense, that's the same as the Vue tutorials

[2017-07-30 14:33] rayrutjes commented on #196
Since some versions, a warning is now thrown if an injected value is not providen by parent components.

As a result, I think we will need to implement our custom "inject/provide" mechanism.

[2017-08-01 07:21] zoransa opened #224 "Feature: RefinementList add searchForFacetValues"
**Feature: What is your use case for such a feature?**
instantsearch.js already has searchForFacetValues and it is very handy to be able to quickly reduce very long lists of facets.

**Feature: What is your proposed API entry? The new option to add? What is the behavior?**
Just add search box under facet title and two settings
`
searchForFacetValues: {
Placeholder: 'Refine list...',
templates: {
n

[2017-08-01 07:41] rayrutjes commented on #224
Thanks for submitting this.
Indeed, search for facet values would be a nice addition to this library.

We will need to investigate what the best option could be.

I'm wondering if the state of the facetValues should reside in the search store of if that should be a component concern.

I'll leave this open for further discussions.

What use case do you have in mind @zoransa ? Do you have an example

[2017-08-01 08:13] rayrutjes opened #225 "Add docs for TreeMenu component"

[2017-08-01 08:15] #196 closed

[2017-08-01 08:15] #205 closed

[2017-08-01 08:57] #168 closed

[2017-08-01 09:47] emiridev commented on #224
Hi @zoransa @rayrutjes ,
something like this (look Brand RefinementList at the left side)
https://www.beautyalmanac.com/products/search

[2017-08-01 10:06] #225 closed

[2017-08-01 10:15] rayrutjes commented on #224
Thanks for the link @emiridev .
That is definitely a nice use case.

I think there are 2 subjects here.
1. make sure we can easily leverage the "getFacetValues" Algolia endpoint & figure out where the implementation should reside
2. see how this can be used from inside existing components by keeping in mind that we would like to keep components as granular and composable as possible.

There are al

[2017-08-01 12:14] Haroenv opened #228 "remove unused store functions"
**Do you want to request a *feature* or report a *bug*?**

feature

**Feature: What is your use case for such a feature?**

Save space and API space

**Feature: What is your proposed API entry? The new option to add? What is the behavior?**

remove:

- [ ] goToFirstPage

as said in #226

[2017-08-01 21:55] blomdahldaniel opened #229 "[feature/doc] Render results in a table"
I know you can make awesome stuff when you are free to format the results from super awesome instant search. But how about traditional tables..?

Would be nice to have the ability to present the result in a plain table. (or at least some documentation for it)

Been playing around with it and even though I set the <ais-result> component to render as an tbody it just keeps on returning itself as a d

[2017-08-01 21:56] rayrutjes opened #230 "explain how to set default query on search input"
Currently there is no guidance regarding setting the default value of the search input or the search box.

Let's document that and see if any features are missing for that.

[2017-08-01 21:58] rayrutjes commented on #229
Interesting use case, I'll need to try that out 👍

[2017-08-01 22:00] rayrutjes opened #231 "Pagination scroll to top"
There is currently no easy way to scroll back to the top of the page when the pages changes.

We probably need to add events to the pagination component, or offer an easy to use feature to achieve this.

[2017-08-02 01:45] zoransa commented on #224
If we look at the main library they use search-box widget
https://github.com/algolia/instantsearch.js/blob/develop/src/widgets/refinement-list/refinement-list.js

[2017-08-02 07:29] Haroenv commented on #231
we have a `scrollTop` prop in React InstantSearch. We have the problem there, that _every_ refinement triggers a page change technically. We have to make sure that this edge case gets handled correctly in VIS

see https://github.com/algolia/react-instantsearch/issues/164

[2017-08-02 08:54] rayrutjes commented on #231
Thanks for pointing that out @Haroenv .
JeffreyWay suggested this improvement and he said that just triggering an event, like "page changed" would already be good.

It's probably safer to let users deal with that event than to go to far.

[2017-08-02 08:56] rayrutjes commented on #224
Yes, there is definitely something to explore in composing with existing components.

[2017-08-02 13:22] rayrutjes commented on #139
Hey @julienbourdeau , I think you raised this point.
Can you remember me exactly what you where trying to achieve?

[2017-08-02 21:35] #228 closed

[2017-08-03 18:52] julienbourdeau commented on #139
Well, I'm not sure what I said earlier but I have one thing in mind right now.

I would like to be able to define a template for the refinement list. So for example, I could have color circle for faceting the color, instead of a list of checkboxes.
It's an example, for color this could be separate components in the future.

Is it was we talked about?

[2017-08-03 20:11] rayrutjes commented on #139
No, it was not what you talked about I think, because I just remembered your initial issue thanks to your answer 😂 .
I think you initially wanted to init a search page with a facet active.

[2017-08-03 20:29] julienbourdeau commented on #139
Oh yeah! I remember now :D

[2017-08-03 21:42] julienbourdeau opened #239 "Loop index: key does not work on <slot>"
I have included instantsearch this way

[code]

When compiling with Laravel Mix, I get the following error in `Results.vue`:

I think that's why in my initial PR I named it `index`.

**Bug: What is the proposed solution?**
Rename `key` to `index`

**What is the version you are using? Always use the latest one before opening a bug issue.**
0.4.0

<img width="966" alt="1__laraconv2__node__and_price_

[2017-08-03 22:36] rayrutjes commented on #239
Wow, seems like a bug issue.
Can I ask why you import './vue-instantsearch/src/instantsearch' instead of 'vue-instantsearch'?

I need to fix this ASAP.

[2017-08-03 22:41] julienbourdeau commented on #239
Because I wanted to change something and test it (see #240)

If I use the package version, it works. It might be because of laravel mix config maybe 😕

[2017-08-03 22:59] rayrutjes commented on #239
After investigation, it appears that the issue encountered is related to the fact that Vue instantSearch was downloaded locally, and transpiling was not setup properly.

That being said, this makes me realize we need to improve our contributing guide, to show an easy way to setup an environment to test changes in Vue IS directly in another project.

[2017-08-03 22:59] #239 closed

[2017-08-04 05:18] a4anes opened #241 "Refresh results in single page application"
After adding new record, instant search <ais-results> does not update. I need a way to show new items. Is there any solution?

[code]

[2017-08-04 05:26] Haroenv commented on #241
Just for clarity, you mean that when you add new items to the index, they don't show up immediately in the `results`?

[2017-08-04 05:27] a4anes commented on #241
@Haroenv Yes, exactly.

[2017-08-04 05:33] Haroenv commented on #241
It's not as simple as it seems, but it's possible. The first thing you need to do is use a custom search store, so that you can call methods on the API client. That's described [here](https://community.algolia.com/vue-instantsearch/getting-started/search-store.html#how-to-manually-create-a-search-store). Then in the place you're indexing, you'll need to [waitTask](https://www.algolia.com/doc/api-c

[2017-08-04 06:17] a4anes commented on #241
@Haroenv Is there no other way to do it? Like just reloading search component or appending results?

[2017-08-04 06:52] Haroenv commented on #241
Not currently, but we could consider it. What kind of API would work well for that use case?

[2017-08-04 06:59] a4anes commented on #241
Api for frontend or backend?

[2017-08-04 07:19] a4anes commented on #241
What if i use search helper to get all results and render through vue js? Is there be any performance issue? Then i can push new item to results.

[2017-08-04 07:53] rayrutjes commented on #241
Hey @a4anes ,
I think adding a method `refresh` to the search store makes sense.
This method would take care of clearing the underlying Algolia client's cache, and fetch the results again.

Would that work for you?

[2017-08-04 08:01] a4anes commented on #241
@rayrutjes I'm using laravel package of algolia for backend and vue-instantsearch for frontend. I don't want to create custom search store but instead use vue-instantsearch components. Can you let me know what will work best in this case? It need to be index before refresh.

[2017-08-04 09:23] rayrutjes commented on #241
@a4anes in your use case, I'm not sure how you could make your frontend aware that you indexed new things from the backend. I feel like this is out of the scope of this integration.

Can you tell me more about why you would need your users to have the very indexed items in your application?
One solution could be to create a `heartbeat` endpoint in your Laravel app that would check if new records h

[2017-08-04 09:33] hellodeveloper commented on #241
@rayrutjes In our use case, users create records one by one and via bulk uploading files. We want to be able to search the very indexed records without forcing a refresh.

[2017-08-04 10:01] rayrutjes commented on #241
Ok, I'm I correct assuming that from your single page app, users can actually trigger actions interacting with the backend that would push new records from the backend?

In that case, the best way to go about it would be to keep a reference to the search store somewhere, and hit the "upcoming" `store.refresh()` after the new items were pushed.

Like @Haroenv mentioned though, there will be a delay

[2017-08-04 10:03] bearduk commented on #178
Would be great to see this as a built in feature. I've been using the Algolia $router example here:
https://github.com/algolia/vue-instantsearch-examples/tree/master/examples/vue-router/src (thanks btw)..It syncs user input with the url but not the other way around. Would be great to be able to bookmark/ share search result urls.

[2017-08-04 10:24] bearduk commented on #178
Sorry, figured out the url?query-> <input>-- I've used `'query': this.$route.query.q` within `:query-parameters`, works great 👍

[2017-08-04 11:03] rayrutjes commented on #178
We definitely should create a dedicated section under "advanced" in the docs!

[2017-08-04 12:45] a4anes commented on #241
@rayrutjes Yes. That is exactly what we are trying to do. So i have to create custom search store to do this? Is there any other way to do without creating custom search store because everything else is working well.

[2017-08-04 13:05] rayrutjes commented on #241
Ok, in that case, we can easily create a component "<ais-resfresh>" that when pressed refreshes the results.

Then it would be your job though to define when to show/hide it based on other actions the user took in your application.

Does that make sense?

[2017-08-05 11:01] #231 closed

[2017-08-05 15:14] rayrutjes commented on #178
Hey @bearduk , I worked on a guide for synchronizing the Vue router with Vue InstantSearch, here is  the preview: https://deploy-preview-246--vue-instantsearch.netlify.com/advanced/vue-router-url-sync.html
Do you think this would have been useful for your usecase?
Do you think it is missing things?

The PR is here: #246

[2017-08-05 15:37] rayrutjes commented on #241
@a4anes I'm currently working on this.
Could it be that what you are actually experiencing could be solved if the cache was disabled?

By default, the Algolia client caches the results. If the cache were to be disabled, it would always return the new results.

[2017-08-05 15:58] rayrutjes commented on #174
Can you dig a bit here? You would like to have an example of every prop for every component?

[2017-08-05 16:47] #230 closed

[2017-08-05 17:50] rayrutjes commented on #229
So indeed this is currently not do-able.
We would need to code our Results component as a render function and accepting the "tag name" as a prop. cc https://stackoverflow.com/questions/41748934/how-to-create-dynamic-tag-based-on-props-with-vue-2

Given the results component is simple, we might want to do the move.
I first want to make sure there is no other way.

[2017-08-05 21:55] #241 closed

[2017-08-05 23:31] rayrutjes opened #249 "Add Nuxt example"
https://github.com/algolia/vue-instantsearch-examples/tree/master/examples/nuxt

[2017-08-06 07:24] Haroenv commented on #241
Doesn't the component still need to be made @rayrutjes

[2017-08-06 07:42] rayrutjes commented on #241
It depends on the answer of @a4anes .
Maybe just disabling cache will be enough.

Also, I'm not a huge fan of introducing a component that is just a link with a callback.

If we could access the search store in a easier way, there would be no component needed.

[code]

I think we will want to promote and enhance the docs about how to manually use the search store for advanced use cases.

[2017-08-06 08:30] Haroenv commented on #241
Makes sense! (Should be a button though)

[2017-08-06 08:38] emiridev commented on #224
is there any news about integration of  "searchForFacetValues" for vue-instantsearch?

[2017-08-06 09:57] rayrutjes commented on #224
Hey @emiridev ,

We have not yet started to dig the search for facet values.

Do you only use that feature in the context of your refinement list?

[2017-08-06 10:00] emiridev commented on #224
Yes, exactly.

[2017-08-06 10:06] rayrutjes commented on #224
Ok,

We want to the take search for facet values very seriously.

Filtering facet values of a refinement list is only one use case, and we want to make sure our implementation can also meet other expectations.

The first will be to add and method to the search store's API, and play a bit with it.
Second step will be to check the best way to provide the feature you are looking for without complexif

[2017-08-06 10:08] emiridev commented on #224
Great, I'm really looking forward to it! tnx @rayrutjes

[2017-08-06 10:20] #249 closed

[2017-08-06 16:48] #154 closed

[2017-08-06 19:26] rayrutjes commented on #229
Hey @blomdahldaniel , what do you think of #256?

[2017-08-06 20:54] blomdahldaniel commented on #229
Wow!
Haven't had the time to look it up but yeah,as far as I understood there was no other way but to solve it like you say.

Would be a great feature that would allow for even more flexibility and (for how I understand it) for a low cost.

[2017-08-06 21:03] rayrutjes commented on #229
Hey @blomdahldaniel , here is a working solution that already works:

[code]

Let me know how that works out for you!

[2017-08-06 21:19] rayrutjes commented on #229
Here is a quick codepen that illustrates it: https://codepen.io/team/algolia/pen/qXRpzR?editors=1000

I'm also adding this to the docs in #257

[2017-08-06 21:37] blomdahldaniel commented on #229
waooo!! Bingo! Thanks for pointing that out! Ofc `inline-template` super rad man! Big thanks!
Glad that you'll add this to the docs. Like I said, this will offer even more flexibility!

Good job and thank you! :)

[2017-08-06 21:42] blomdahldaniel commented on #229
And thank you for spitting out the code example for me here in this issue!

[2017-08-06 22:37] rayrutjes opened #259 "Do not rely on hooks unsupported by SSR"
Currently a lot of components rely on lifecycle hooks like `mounted` to alter the search store state.
Let's make sure we try out a fully featured search experience, and make sure there is no refresh in first rendering.

[2017-08-06 23:20] rayrutjes opened #261 "[SSR] first rendering triggers an algolia query"
It shouldn't.

[2017-08-07 07:53] #167 closed

[2017-08-07 07:53] #229 closed

[2017-08-07 08:35] a4anes commented on #241
@rayrutjes How to disable cache? I'm using a button to refresh results but still not updating.

[2017-08-07 08:57] rayrutjes commented on #241
He @a4anes ,
The cache feature has not been released yet.

Please bear with us.

[2017-08-07 20:21] rayrutjes opened #262 "Docs build system class name issue"
Current docs build system transforms `ais-refinement-list__item--active` into `ais-refinement-list__item–active`.

[2017-08-07 21:52] rayrutjes opened #263 "[ssr] Work around the asyncData <> created hook issue"
Currently some components need to change the state of the store before the first query.
The `asyncData` method pattern does not work in that case unless you manually register the facets and everything again.

We need to find a way to not have to duplicate that information. Remove the current declarative components is of course not an option.

[2017-08-07 22:05] rayrutjes commented on #263
Unfortunately, official docs states the following:

I'm afraid that the "rendering" process includes the creation of the components.
Currently registration of facets etc. happens on the `created` hook.

It would be nice if rendering and components instantiation were to be 2 steps so that we can actually hook between them to load async data.

Needs more digging.

[2017-08-07 22:43] rayrutjes commented on #263
After investigating vue-router / vue.js ssr / nuxt.js it seems there is no solution.
The rendering process is de-coupled from the async data fetching which must happen before.
As a result, the only solution is to manually register facets etc.

[2017-08-08 07:07] Haroenv commented on #263
You might be inspired by the option to hydrate we added in React InstantSearch https://community.algolia.com/react-instantsearch/guide/Server-side_rendering.html

[2017-08-08 07:08] Haroenv commented on #262
Does that also happen in code tags?

[2017-08-08 08:55] rayrutjes commented on #262
Don't know, need to try it

[2017-08-08 08:57] rayrutjes commented on #263
We currently have the same design.
The only difference beeing that the only place the store is aware of the existing components is in the actual template.

I'll put more thoughts into it but I think for now duplicating some of the initializing option makes sense.

[2017-08-08 09:30] rayrutjes commented on #263
I tried to better explain the issue here: https://forum.vuejs.org/t/ssr-asyncdata-fetching-after-components-were-created/15382
Maybe someone with deep understanding of the core of Vue could help us.

[2017-08-08 09:32] Haroenv commented on #263
Do you know how to deal with this @posva? Basically we would have to wait until a component is mounted before we can know what data to fetch

[2017-08-08 10:01] #262 closed

[2017-08-08 10:50] bearduk commented on #178
Awesome @rayrutjes, really clear docs. Would have helped me yes. In regards to anything missing,  perhaps adding in how to sync multiple params so e.g. refinement list selections reflect as `query.whatever` too? Thanks.

[2017-08-08 10:56] rayrutjes commented on #178
Yes, I'm working on making this more exhaustive indeed.
Until then I'll leave this open.

Thanks for the feedback @bearduk

[2017-08-08 16:14] #259 closed

[2017-08-08 16:14] #261 closed

[2017-08-08 16:14] rayrutjes commented on #263
This is now mainly about documenting it properly.

[2017-08-08 19:32] matthewmnewman commented on #178
@rayrutjes @bearduk Syncing all of the component parameters would be a fantastic addition to the documentation as i have been struggling to get this working myself.

[2017-08-08 19:46] rayrutjes commented on #178
@matthewmnewman can you confirm that you are using the Vue Router as well?

[2017-08-08 20:09] matthewmnewman commented on #178
@rayrutjes Yes i can of course sync the search query using Vue Router but trying to sync this with multiple refinement lists for example is a little bit more complicated unless i am missing something obvious within the searchStore.

[2017-08-08 21:01] rayrutjes commented on #178
@matthewmnewman I planned to find a solution / example with the Vue Router, so I just wanted to make sure that would help you.

I'll keep you posted.

[2017-08-09 16:23] posva commented on #263
Looks like Thorsten solved it 🙂

[2017-08-09 16:36] rayrutjes commented on #263
Yes, in the end we will go for duplicating the params @posva .
Not ideal but there is no other solution.

We will also check if there are any pros of leveraging Vuex for sharing state with the front.

[2017-08-15 11:11] rayrutjes opened #270 "Add Menu component"

[2017-08-15 11:13] rayrutjes opened #271 "Allow using nested values in highlight and snippet components"

[2017-08-15 11:17] rayrutjes opened #272 "Bring all examples up to speed"
Most examples are a bit deprecated here: algolia/vue-instantsearch-examples
Lets bring them up to speed with release 0.7.0.

[2017-08-15 11:57] rayrutjes opened #273 "Throw warning when trying to highlight an attribute that is not configured"

[2017-08-15 11:58] rayrutjes opened #274 "Throw warning when trying to snippet an attribute that is not configured"

[2017-08-15 22:50] rayrutjes commented on #272
Fixed in https://github.com/algolia/vue-instantsearch-examples/pull/9

[2017-08-15 22:50] #272 closed

[2017-08-16 08:04] #271 closed

[2017-08-16 08:04] #273 closed

[2017-08-16 08:04] #274 closed

[2017-08-16 12:29] rayrutjes opened #278 "Add toggle component"

[2017-08-18 06:42] Chrysanthos commented on #178
Any chance we could create a solution without Vue Router?

[2017-08-18 07:59] rayrutjes commented on #178
Hey @Chrysanthos ,

Just asked you a few questions on the forum.
Anyway, here they are:

And here is an additional question: Why not using the Vue router if willing to do URL manipulations?

Looking forward to address your request.

[2017-08-22 08:45] #148 closed

[2017-08-26 00:50] socieboy opened #299 "Geo-Search"
Can I use Geo-Search with this component for Vue?

[2017-08-26 12:53] timkley commented on #192
I tried reproducing the issue but didn't get any errors upon linting? Could you explain what I have to do to reproduce this?

[2017-08-31 05:22] socieboy opened #301 "extending components"
Extending component is not working i just exactly as the docs, and seems like the extended component it's not accessing the results

[2017-08-31 09:44] rayrutjes commented on #301
Hey @socieboy ,

Do you mind sharing your code so that we can try it out?

[2017-08-31 10:07] julienbourdeau commented on #299
Yes you can. Can you describe what you want to achieve so we can provide better help?

[2017-08-31 19:55] socieboy commented on #299
I have all records in algolia of videos filmed on different locations i save the coordinates of the location on the _geoloc tag, but using this component for vue i want to display the map all videos. How can i do that?

[2017-08-31 20:28] socieboy commented on #301
I have a main component
[code]
Then on the view
[code]
MapResults.vue
[code]
This is my code, i don't see anything on the console vue-devtools on the MapResults component.

[2017-09-01 08:55] julienbourdeau commented on #299
Most of the job is not really related to Algolia, you'll have to display the map and pointers. then you can use `<ais-results>` to loop through the result. I have use this library in the past: https://github.com/xkjyeah/vue-google-maps

If you choose to go with this one, for example, the code would look like this:

[code]

*Note*: You need to ensure that the _geoloc values are floats, not strings.

[2017-09-01 16:26] socieboy commented on #299
@julienbourdeau thank you for your response, i will try to use the package.

[2017-09-01 18:46] socieboy commented on #299
@julienbourdeau  It work's perfect, i love it. thanks!

[2017-09-01 21:23] #299 closed

[2017-09-03 11:42] HemalR commented on #171
Plus one!

I'm trying to get an element-ui input (http://element.eleme.io/#/en-US/component/input) to be the Algolia input.

I see the documentation regarding styling e.g. results, and that works well, but obviously, there is special binding regarding the input. I'll try to dig into the code and see if I can help out with creating documentation...

[2017-09-04 07:53] rayrutjes commented on #171
Hey @HemalR ,

To bind to an existing input you would:
1. use `v-model` in your input to a variable named `query` for example: `<input type="text" v-model="query">`
2. bind the query to your `ais-index` like `<ais-index :query="query">`

Does that help?

[2017-09-05 02:12] HemalR commented on #171
@rayrutjes Indeed it does! Thanks a tonne!

I spent a couple of hours (warning: noob alert) trying to create my own modified component based on the ais-input component - but for the life of me could not figure out the difference in the structure of how this repo is vs how it was showing up in my node modules! (If that makes sense...)

Also, your solution prompted me to look at the documentation of

[2017-09-06 12:20] vvo opened #303 "Automatically update UMD version number shown in the website"
It's very good to provide a fixed ve.rs.ion here: https://community.algolia.com/vue-instantsearch/examples/umd.html. Because it fixes the version and allow us to push updates without crashing websites when they dot not require an update.

But it's not up-to-date with v1.0.0. Is it feasible to update this token when we publish the doc? Using the latest package.json version

[2017-09-06 12:23] Haroenv commented on #303
We did this in instantsearch.js: https://github.com/algolia/instantsearch.js/pull/2259

Be careful when having `{{}}` in the same file though (see https://github.com/algolia/instantsearch.js/pull/2273)

[2017-09-06 16:43] rayrutjes commented on #301
Can you try removing `mixins: [Component],` from your MapResults.vue component?
Given you extend the Results component, there should be no need to add the mixin again.

[2017-09-07 15:17] konstantinrachev opened #304 "Add infinite pagination capability"
**Do you want to request a *feature* or report a *bug*?**
I would like to propose a new feature. Adding a lazy load module would be a great add-on.

**Feature: What is your use case for such a feature?**
As pagination is getting a little bit out-of-date, I would propose to add a implementation of an lazy load mechanism. My vision is to get the results like from the pagination one, but when I scrol

[2017-09-08 07:23] rayrutjes commented on #304
Hey @konstantinrachev ,

Did you maybe checkout https://community.algolia.com/vue-instantsearch/examples/infinite-scroll.html ?

Currently we accept a property called `stack` on the `ais-results`.
When set to `true`, it will stack the results instead of removing results from previous page.

All you have to do is determine when and how you want to trigger the next page load.

[2017-09-09 09:53] rayrutjes commented on #301
Hey @socieboy I'm closing this for now.
Please let us know if it worked out for you, and feel free to re-open if the problem persists.

[2017-09-09 09:53] #301 closed

[2017-09-09 09:55] rayrutjes commented on #304
Hey @konstantinrachev ,

Have you been able to implement this?
For now, we are not planning on implementing a specific component here given the scope really depends on the user experience you want to build.

Please share your implementation or discuss the feature on our forum: https://discourse.algolia.com/

[2017-09-09 09:55] #304 closed

[2017-09-09 10:04] rayrutjes commented on #180
Currently discussing how to ship this better across all InstantSearch implementations.
In the meantime, nothing actionable here.

[2017-09-09 10:04] #180 closed

[2017-09-09 10:31] rayrutjes commented on #159
This is documented here: https://community.algolia.com/vue-instantsearch/getting-started/search-store.html#understanding-how-the-search-store-synchronizes-with-algolia

[2017-09-09 10:31] #159 closed

[2017-09-11 08:13] #303 closed

[2017-09-12 11:32] bobylito opened #306 "Query rules guide"
Query rules is a new feature in the Algolia engine. Even though most of the impact is in the engine and most of the answer modifications should be hidden, we have identified two cases where we need to provide some help on how to integrate them:
 - when a result is promoted
 - how to access custom data from the rules engine

The idea is to make a guide for that.

This is linked to https://github.co

[2017-09-12 12:21] rayrutjes commented on #306
Do we have anything actionable here @bobylito ?

[2017-09-12 12:30] Haroenv commented on #306
QR exact changes needed

- Deal with `userData`
  - Add this response parameter in the helper
  - Expose in IS allHitsTemplate
  - Expose in `<Conditional />`
- Deal with Context
  - Simply pass the parameter to `search({context: 'mobile'},{})`
- Deal with `rankingInfo` (promoted)
  - getRankingInfo: true, then _rankingInfo similar to geosearch or highlighting

Copied from meeting document today @

[2017-09-12 15:24] rayrutjes commented on #306
Interesting,
Will wait and see the helper's implementation 👍

[2017-09-13 01:25] HemalR opened #307 "'Attribute not configured to be highlighted'"
Hi!

Thanks for the great library :)

Question - Been messing around with the highlighting to try to get it to work but keep getting the error that a couple of my attributes are not configured (even though they are). I then console logged the raw return data and the attributes that the warnings are referring to are in fact getting returned (as expected) within the `_highlightResult`

See screensho

[2017-09-13 06:45] Haroenv commented on #307
You need to set up the attribute for highlighting, it's a a setting in the dashboard and automatically applies to searchable attributes, unless you turned it off.

You can read more in the doc:

https://www.algolia.com/doc/guides/searching/highlighting-snippeting/

[2017-09-13 08:16] HemalR commented on #307
I actually already have it configured:

<img width="943" alt="highlighted_attributes" src="https://user-images.githubusercontent.com/15634303/30366793-dd4c5d76-989e-11e7-8c8c-e47d862dd990.png">

I even double checked this by console logging the raw results, as per the earlier screenshot, which shows the result returning the attributes in question under the `_highlightResult` object :S

Or am I mis

[2017-09-13 08:31] Haroenv commented on #307
Oh, I didn't see that in your first message, sorry. It would be really helpful if you could send us a page with the exact components and app you're having problems with. If you can't send it public, you can send it to support@algolia.com!

[2017-09-13 08:54] HemalR commented on #307
Yeah sure! Might be useful to others.

It's a very simple thing at the moment - Basically the nuxt.js boilerplate with the element UI component library + Algolia (the project has its uses, but I am doing it largely to learn Vue plus gain a deeper understaning on whether it will be good for a rewrite of another Algolia dependen app we have.

The one main page of all the code below (the non-commente

[2017-09-13 09:23] rayrutjes commented on #307
Hey @HemalR ,

I think that not all your records contain a `fax` or `phone` attributes, which probably leads to them not being displayed.

OR, there is a bug in our component :/

In any case, you could directly use `result._highlightResult.<attr>.value` to display the fields.
Maybe you can try that and see if you get the same errors or if indeed there is a bug in the component.

[2017-09-13 09:49] HemalR commented on #307
"I think that not all your records contain a fax or phone attributes, which probably leads to them not being displayed."

Yes, that might be the case! I didn't realise that would break the setup (vs, for example, not showing any text at all/a null div).

I could try something along the lines of:

[code]

[2017-09-13 10:00] HemalR commented on #307
Ok update:

Using the `v-if` conditionals kind of worked! Progress :)

The part that isn't working is that the pre/post tags are not getting sent to the nested properties.

I.e.

This works fine - and the highlighting works:
[code]

This does not work (i.e. - The text still renders on screen, but the pre/post tags are missing, hence the highlight styling does not work):
[code]

Any ideas/tests I s

[2017-09-13 10:21] rayrutjes commented on #307
Are you using latest version of Vue IS?

[2017-09-13 10:23] HemalR commented on #307
[code]

I think so :/ Only installed it a couple of weeks ago

[2017-09-13 10:29] HemalR commented on #307
Would it be because the nested elements are part of a v-for loop?

[2017-09-13 10:54] HemalR commented on #307
Yup pretty sure that is it! As per the docs:

"For more complex data structures, it will be necessary to leverage the _highlightResult object directly. For example, consider the case of an array of keywords:"

https://community.algolia.com/vue-instantsearch/components/highlight.html

I'll try it out, update the code here once I have a solution so that others might reference it.

Thanks for your he

[2017-09-13 10:55] #307 closed

[2017-09-13 11:04] HemalR commented on #307
Code solution (what works for me!):

[code]

Slightly concerned about the v-html, will look into ensuring there are no XSS vulnerabilities...

Thanks for the help! @Haroenv @rayrutjes

[2017-09-13 11:23] Haroenv commented on #307
Thanks for using Vue InstantSearch!

[2017-09-13 11:25] HemalR commented on #307
I do have another query! The Final bit I need to sort out before putting this mini-app in production. It's not a bug, so I didn't put it here and posted it on the forums, but there seems to be much less activity there :/

https://discourse.algolia.com/t/vue-instant-search-facet-filters/2724

Would it be okay for me to open a Github issue for that here?

[2017-09-13 12:21] rayrutjes commented on #307
All data in _highlightResult is already escaped when retrieved from Algolia, so you can safely use that directly in v-html.

And yes, please open a new issue if you have something else 👍

[2017-09-13 14:49] HemalR commented on #307
Ah awesome, cheers mate!

[2017-09-17 20:00] tetshi opened #308 "Slack-style Search+Quick Search component"
A key-navigable tree view, similar to Slacks "Quick Jump" functionality would be nice. This would handle a simple JSON structure like:
`[
    {
        "name":"Page Title",
        "url" : "#page",
    }
]
`

This would be nice because of how Algolia handles ratings of a search, it would automatically enable the user to have a list of their most frequently visited spots in a web app.

Proposed tag

[2017-09-19 08:53] mthuret opened #309 "Search store guide"
Maybe I missed it on the current document but it would be great to have a guide detailing the structure of the `searchStore` like we do for React InstantSearch: https://community.algolia.com/react-instantsearch/guide/Search_state.html

I found myself looking for this kind of information, and we had user looking for it too on RIS.

What do you think @rayrutjes?

[2017-09-19 09:02] rayrutjes commented on #309
Yes we could document that more indeed.
For now, what we document is the different ways of using the search store: https://community.algolia.com/vue-instantsearch/getting-started/search-store.html

But I think documenting the API of it could be a great addition.

[2017-09-19 09:03] Haroenv commented on #308
To be clear, this is something you want, right?

<img width="467" alt="screen shot 2017-09-19 at 11 00 36" src="https://user-images.githubusercontent.com/6270048/30584408-e8ce1e84-9d29-11e7-9e3b-0a3ae04ba931.png">

You should already be able to create that, by having a component that has `<ais-index>`, `<ais-search-box>` and `<ais-results>`.

Did you try to create this interface and bump into issu

[2017-09-19 09:36] Haroenv opened #310 "Guide on replicating refinement-list"
See https://discourse.algolia.com/t/vue-instant-search-facet-filters/2724/5 for more information.

This user wants to use a third-party select list [component](http://element.eleme.io/#/en-US/component/select) as a refinement-list and has trouble doing it.

We should be able to explain this in our guide, a specific guide, or just as an answer on discourse

[2017-09-19 09:50] rayrutjes commented on #310
The best to solve that is:
- https://community.algolia.com/vue-instantsearch/getting-started/styling.html#overriding-templates-with
- https://community.algolia.com/vue-instantsearch/getting-started/styling.html#extending-a-component

[2017-09-19 10:12] rayrutjes commented on #310
I've answered the thread, thanks for picking that one up @Haroenv .
I will close for now and wait for more feedback.

[2017-09-19 10:12] #310 closed

[2017-09-23 15:14] katoba86 opened #311 "Tree Shaking not working / ES2015 module format?"
I followed the guide to import the components to build the example project [https://community.algolia.com/vue-instantsearch/getting-started/using-components.html](url)

Registering all components at once gives me  a filesize of **275kb**

`import InstantSearch from 'vue-instantsearch';
Vue.use(InstantSearch);
</script>`

. okay this is too much, because I'm , using only the "Index, SearchBox, Resu

[2017-09-23 15:24] Haroenv commented on #311
Vue InstantSearch is written in es2015 modules, but tree shaking is one of the lot finicky parts of technology I’ve ever worked with. Thanks for reporting though, we will investigate what the cause is, we’re sorry.

[2017-09-23 17:02] rayrutjes commented on #311
Thanks for reporting this @katoba86 .

Just opened a PR here: #312

Please don't expect to much in the size drop, because currently what weights a lot is the Algolia client + Algolia helper. This will get better in the future.

[2017-09-25 09:15] #311 closed

[2017-09-25 09:28] katoba86 commented on #311
Very nice! Thank you!

[2017-09-25 12:28] rayrutjes commented on #311
It is now available under 1.0.1 tag @katoba86
See: https://yarnpkg.com/en/package/vue-instantsearch

[2017-09-25 15:29] lukepearce opened #314 "Add currently refined values component"
**Do you want to request a *feature* or report a *bug*?**
Feature

**Feature: What is your use case for such a feature?**
The current refined values widget would have two purposes:

- give the user a synthetic view of the current filters.
- give the user the ability to remove a filter.

**Feature: What is your proposed API entry? The new option to add? What is the behavior?**
The standard instants

[2017-09-25 15:43] rayrutjes commented on #314
Hey @lukepearce ,
We will be working in the near future in filling the gaps in terms of features between the different instantsearch implementations.

In the meantime, please bear with us.

Please note that we have not explicit ETA on this though.

[2017-09-25 20:26] MelkerB opened #315 "Add Props to Change Default Text"
For example on the Rating.vue component there should be a prop to change " & up" and "Clear" to fit different purposes as well as languages.

[2017-09-26 08:15] rayrutjes commented on #315
Hey @MelkerB ,

We provide a slot for you to override that text.
Here is what you could do:

[code]

You could also override everything by using an `inline-template`, see: https://community.algolia.com/vue-instantsearch/getting-started/styling.html#overriding-templates-with

Let me know if that helps.

[2017-09-26 08:29] MelkerB commented on #315
Definitely, thanks.

[2017-09-26 08:29] #315 closed

[2017-09-27 15:00] francescobm opened #316 "Accessing the Algolia API full response"
Hi,

I am using vue-instantsearch for my ecommerce and have to say it's very handy and intuitive.
However, I can't find a way to access the full response from the API.

If I check the network the endpoint is returning some properties other than the hits object. However, seems that the implementation like below is only allowing to access the hits object.

[code]

[2017-09-27 15:35] Haroenv commented on #316
which other properties do you need access to?

[2017-09-27 15:47] rayrutjes commented on #316
I think we can expose the last response from the store so that you can deal with it as you wish.

You would access it like so:
`store.lastResponse`

WDYT @francescobm ?

[2017-09-27 15:58] francescobm commented on #316
That would be very appreciated,

I assume it will take a bit of time before the release this feature, so for the time being I'll have to renounce to the vue-instantsearch components and I'll manually do a POST request to retrieve hits and facet_stats.

Thanks a lot for your work !

[2017-09-27 16:26] Haroenv commented on #316
In the meantime you can use `store._helper.lastResponse`

[2017-09-28 08:25] francescobm commented on #316
I've been able to find it in
`this.searchStore._helper.lastResults._rawResults[0].facets_stats`

[2017-09-28 08:47] Haroenv commented on #316
Thanks for sharing your workaround @francescobm, we'll expose this simpler soon, it's also useful for query rules ( #306 )

[2017-09-28 09:33] francescobm commented on #316
Full example here, forget to mention that of course lastResults is asynch, so needs to be watched in order to be accessed. Would be nice to be able to have a promise available within ais-index

[code]

[2017-10-01 05:47] rayrutjes commented on #316
@francescobm not sure I understand what you mean, could you adapt your example with your ideal usage implementation?

[2017-10-04 12:32] grund3g opened #317 "Event: "ready" or "loading""
Ist there any possibility to listen for an event when the search result is ready or loading?

The only event that I found ist "page-change" when using the pagination.

[2017-10-05 12:02] Haroenv commented on #317
Hey @grund3g, what would you use this for? What would be your ideal use case?

[2017-10-05 13:29] grund3g commented on #317
Hi,
e.g. when using masonry layouts where I have to update / recalculate the layout when the search result is ready.

[2017-10-05 20:16] rayrutjes commented on #317
Maybe you can ask the user who has already done this here: https://discourse.algolia.com/t/algolia-instantsearch-vue-with-masonry-js/2215/2

[2017-10-05 20:56] grund3g commented on #317
Thanks for the link! I ended up doing the following:

[code]

// AisEventWrapper.vue
[code]

[2017-10-06 07:27] Haroenv commented on #317
That seems like a good solution! I'll close this, but feel free to reopen or open another issue for other things 😄

[2017-10-06 07:27] #317 closed

[2017-10-07 13:09] pixelastic opened #318 "[ais-search-box] Unable to change the class names of the Clear button"
**Do you want to request a *feature* or report a *bug*?**
feature

**Bug: What is the current behavior?**
When passing `class-names` to `ais-search-box`, I cannot override the class added to the clear button.

On this codepen I can correctly add a specific class to the submit element, but not to the clear one: https://codepen.io/anon/pen/wryRMb

**Feature: What is your use case for such a feature?

[2017-10-07 13:31] pixelastic commented on #318
After digging a bit more in the code and the examples, I found that could achieve my goal simply by using `ais-input` instead of `ais-search-box` (I actually wanted to remove the submit and clear buttons).

This is a much easier solution in my case, but the above issue still stands.

[2017-10-08 03:43] Haroenv commented on #318
I would’ve suggested the ais-input, but seems like that class isn’t implemented correctly indeed

[2017-10-09 07:14] rayrutjes commented on #318
Hi @pixelastic ,
Here is an example to achieve what you want: https://github.com/algolia/vue-instantsearch-examples/blob/master/examples/e-commerce/src/App.vue#L11

I think that solves the issue.

Let me know if it doesn't.

[2017-10-09 07:14] #318 closed

[2017-10-09 23:24] pixelastic opened #319 "[ais-pagination] CSS classes are added twice for `ais-pagination_item`"
**Do you want to request a *feature* or report a *bug*?**
Bug

**Bug: What is the current behavior?**
When specifying custom classes for `ais-pagination__item`, classes are added twice to the element.

**Bug: What is the expected behavior?**
Classes should be added only once.

The issue can be seen live at https://codepen.io/anon/pen/VMxaqZ
[code]
![image](https://user-images.githubusercontent.com

[2017-10-09 23:31] pixelastic opened #320 "[ais-pagination] It is not possible to attribute a custom class to the inner <a>"
**Do you want to request a *feature* or report a *bug*?**
Feature

**Bug: What is the current behavior?**
The default markup of the pagination component is to wrap a `a` inside an `li` element for each item. It does not seem possible (through slots or class names) to specify a custom `class-names` to add to the `a` element.

**Bug: What is the expected behavior?**
I would like to be able to add a

[2017-10-10 08:27] rayrutjes commented on #308
Please feel free to re-open this discussion [on our forum](https://discourse.algolia.com/), super interesting topic 👍 .

[2017-10-10 08:27] #308 closed

[2017-10-10 08:29] rayrutjes commented on #217
I think I will leave the current docs as is, because:
1. we've had none asking about UMD since the launch
2. all templates installable with Vue CLI are using build steps and non UMD builds
3. the current docs is the way to go.

[2017-10-10 08:29] #217 closed

[2017-10-10 15:07] #319 closed

[2017-10-10 15:07] #320 closed

[2017-10-11 23:36] OneX opened #324 "Refinement List - option to have all values at all time."
Is there a way to set all facet filters that are possible, and not to remove them if we use another facet filter.

Seems much more User-Friendly when creating UI.

[2017-10-11 23:42] OneX commented on #324
Example: https://community.algolia.com/vue-instantsearch/examples/bootstrap.html

Set Color to White and Dark Gray, then select Material to Glass.

Now Dark Gray option has a count of 0, and if I click on it, it disappears.

And now I need to toggle Material Option to get value back, so it seems little confusing.

[2017-10-11 23:50] Haroenv commented on #324
Hey @OneX, this is a complicated issue to solve, in a lot of cases there just are too many options to show, and it would cause the search to be really slow if we want to show those options too.

A way around this is to add search for facet values, as described in #224, but this hasn't been implemented in this library yet.

[2017-10-12 11:20] pixelastic opened #325 "Custom Date range component"
**Do you want to request a *feature* or report a *bug*?**
Feature

**Feature: What is your use case for such a feature?**
I have records representing events, each with a `startDate` and `endDate` (as Unix timestamps). I'd like to be able to filter them through a range (ie. "All events between October 1st and November 13th").

I don't see any of the default components that could help me achieve tha

[2017-10-12 11:22] pixelastic commented on #319
Thanks for the quick fix \o/

[2017-10-12 11:22] pixelastic commented on #320
That was quick, thanks!

[2017-10-12 11:33] pixelastic commented on #309
I'm adding my voice to it as well. I found some answers by reading the source code of the store and the components using it, but I am still confused as to how to use it. Should I use the internal helper methods, or change the store values?

[2017-10-12 17:18] Haroenv commented on #325
We're struggling with this use case in the other versions too. did you try implementing it already? It starts to get really confusing with recurring events and events that have more than one date.

[2017-10-12 17:46] pixelastic commented on #325
I started working on the component, but only on the UI part so far (using [vue-flatpickr](https://github.com/ankurk91/vue-flatpickr-component)). Haven't worked on integrating with Algolia yet.

My events only have a start and end date, no recurring, only one date.

[2017-10-16 21:01] #324 closed

[2017-10-16 21:06] OneX opened #329 "Suggestion, how to store filter params?"
For example, imagine we add some text to search, then we click on couple facet refinements, then we open detail of some entry from return index, and we need to return back (so we have to go back in a browser history). Is there a way to easy return parameters of the last search?

[2017-10-16 21:22] Haroenv commented on #329
You can store it in the URL, as described in the [vue-router](https://community.algolia.com/vue-instantsearch/advanced/vue-router-url-sync.html) guide

[2017-10-16 21:28] OneX commented on #329
That is one option, but what is an option if we don't use vue-router? I guess one option is to save parameters to localStorage?

[2017-10-16 21:35] Haroenv commented on #329
Yep, that's the other option, or you can handle it yourself with `history.pushState`, rather than an invisible option with localStorage

[2017-10-17 11:03] samouss opened #330 "Stats component is not always display"
**Do you want to request a *feature* or report a *bug*?**
Bug

**Bug: What is the current behavior?**

The `Stats` component is not always visible even if the `totalResults` is greater than `0`.

- on initial load the `Stats` component is not visible (`'10,000' > 0` => `false`)
- search for `He`
- it will be now visible (`'444' > 0` => `true`)

https://codepen.io/anon/pen/BwGGwE?editors=1010#0

**

[2017-10-17 11:06] rayrutjes commented on #330
Thanks for reporting this @samouss will fix it in the hour.

[2017-10-17 11:20] rayrutjes commented on #330
Looks like we went a little bit to fast @ehayman 😂

[2017-10-17 11:29] #329 closed

[2017-10-17 11:38] rayrutjes opened #333 "Umbrella IS consistency tasks"
This issue lists all tasks regarding having consistent DOM and components naming across our InstantSearch libraries.

Clear:
- [ ] Rename to "ClearAll"
- [ ] Update DOM

TreeMenu:
- [ ] Rename to "HierarchicalMenu"
- [ ] Update DOM

Highlight:
- [ ] Update DOM

Snippet:
- [ ] Update DOM

Results:
- [ ] Rename to "Hits"
- [ ] Update DOM

ResultsPerPageSelector:
- [ ] Rename to "HitsPerPageSelector"

[2017-10-17 11:41] rayrutjes commented on #278
See #333

[2017-10-17 11:41] #278 closed

[2017-10-17 11:41] rayrutjes commented on #270
see #333

[2017-10-17 11:41] #270 closed

[2017-10-17 11:44] rayrutjes opened #334 "Umbrella IS missing components"
This issue lists all the components available in other IS implementations that will need to be implemented.

#### Components:
- [ ] Analytics
- [ ] Breadcrumb
- [ ] CurrentRefinedValues
- [ ] NumericRefinementList
- [ ] NumericSelector
- [ ] MenuSelect

[2017-10-17 11:45] rayrutjes commented on #314
We are now tracking all missing components in #334 👍

[2017-10-17 11:45] #314 closed

[2017-10-17 11:55] #330 closed

[2017-10-17 11:57] rayrutjes commented on #330
This is now fixed in 1.21.0 🎉
Thanks again @samouss

[2017-10-17 12:02] rayrutjes commented on #263
Closing this, as there is not much actionable here for now.

[2017-10-17 12:02] #263 closed

[2017-10-17 21:21] Haroenv commented on #334
Also needs SFFV in RefinementList, see #224

[2017-10-20 12:12] foufrix opened #343 "Question : How to reuse element from result in the script"
I do not want to report a bug but simply a question where i could not find answer in the algolia doc.

I'm rendering results on my view page using instantsearch-vue and it works perfectly thank you algolia ! But i want to display them on a map and for that i have to access my _geoloc coordinate in the result i got from algolia.

I can effectively show everything with the html element but how do i

[2017-10-23 11:36] andrevv11 opened #346 "Menu Component missing from v1.2.2"
Bug Report

Docs here: https://community.algolia.com/vue-instantsearch/components/menu.html
This component seems to be missing from the dist.

Codepen: https://codepen.io/anon/pen/MEdKEW

`<ais-menu></ais-menu>`

[code]

**Bug: What is the current behavior?**
The component doesn't appear to be in the build.

**Bug: What is the proposed solution?**
Add menu to the build script?

**What is the versi

[2017-10-23 11:48] Haroenv commented on #346
You're right, it seems to be missing from the version on npm, but not in the source code even though there have been versions since that PR was merged 🤔

[2017-10-23 11:49] Haroenv commented on #346
Oh, I was reading the history wrong, Menu was simply merged _after_ 1.2.2, and hasn't been released yet.

[2017-10-23 12:57] andrevv11 commented on #346
Thanks - Do you know when it will be released or is there a way for me to use this component in an application currently?

[2017-10-23 12:58] Rias500 opened #347 "Displaying some sort of placeholder instead of hiding component when there are no facets"
**Do you want to request a *feature* or report a *bug*?**

Feature

**Feature: What is your use case for such a feature?**

When a component has no facets or results then they get hidden, but in my current implementation this makes it look like the interface broke, see screenshots for an example:

*With results (ok)*
![image](https://user-images.githubusercontent.com/3626559/31890093-4e1b3874-b802

[2017-10-23 14:51] abattenburg opened #348 "Multi Index with Nuxt?"
Is it possible to use multiple indexes with Nuxt? I'm attempting to search inside a sub component with a different index, but unfortunately Nuxt provides the `asyncData` hook only on `pages` and not standard components.

To get around this I'm hoping to pass a second index as a prop, but whenever I try to return two separate search stores in the asyncData method, I seem to overwrite the first stor

[2017-10-23 20:26] rayrutjes commented on #348
Hey @abattenburg, thanks for pinging us.

Can you confirm you are trying to have this all working with Server Side rendering?
In that case, the best example we have so far is: https://github.com/algolia/vue-instantsearch-examples/blob/master/examples/nuxt/pages/search.vue

However, SSR is definitely tricky. For now, I would recommend you always load the state from pages, because like you said, it'

[2017-10-23 20:28] rayrutjes commented on #347
Interesting feedback @Rias500 , WDYT  @ronanlevesque ?

[2017-10-23 20:29] rayrutjes commented on #346
Hi @andrevv11 ,

The component is not released yet because we still wanted to investigate a weird behaviour: https://github.com/algolia/vue-instantsearch/pull/341

cc @iam4x

[2017-10-24 00:02] abattenburg commented on #348
Hi @rayrutjes, thanks for looking at this. Currently my setup is exactly like the link you put as an example. But instead of using just one index (`searchStore.indexName = 'bestbuy'` in this case), I would like to add a second index to be used on the same page. Maybe `searchStore.indexName = 'bestbuy'` and `searchStore2.indexName = 'reviews'` or something like that for example.

You have a good ex

[2017-10-24 15:29] rayrutjes commented on #151
[code]

[2017-10-25 13:02] abattenburg commented on #348
Great thank you so much! That's exactly what I was hoping for.

[2017-10-25 13:02] #348 closed

[2017-10-25 21:10] rayrutjes commented on #346
It's now released in 1.3.0 🎉

[2017-10-25 21:10] #346 closed

[2017-10-28 16:45] foufrix commented on #343
any news on this ?

[2017-10-29 06:04] Haroenv commented on #343
not yet, was thinking about it and didn't find an easy way without `seachStore` @foufrix, maybe @rayrutjes knows a trick?

[2017-10-30 08:34] rayrutjes commented on #343
Hi @foufrix ,

The best way to gain more control over your search state is to instantiate the search store manually, and "watch" whatever piece of state.

[code]

I hope that helps,

[2017-10-30 12:01] foufrix commented on #343
Working perfectly well i have now access to the results in my component thanks ! Sorry i did not read about Search Store in the doc, was only focusing on components, my bad.

[2017-10-30 13:10] rayrutjes commented on #343
No problem @foufrix, our docs can be improved on that part for sure.

[2017-10-30 13:10] #343 closed

[2017-10-30 14:21] foufrix opened #352 "Question : How to search by _geoloc and date (in unix)"
Hello again,

I have to search data using date and _geoloc (algolia data are ready with date in timestamp and _geoloc to search by geoloc) but how do i search that with vue-instantsearch ?

I think that i have to use SearchStore, am i right ? if it's possible an example would be nice :)

Thanks in advance !

[2017-10-30 14:31] rayrutjes commented on #352
Hey @foufrix, you might find this inspiring: https://discourse.algolia.com/t/vue-instantsearch-distance-filter/3309/7

Let me know if that helps or if you'd like more precise help,

[2017-11-02 03:08] foufrix commented on #352
As always, quick response by the team thanks !
For those who find this post here is the code that solved my problem
`this.searchStore.queryParameters = { aroundLatLng: '' + this.searchLat + ', ' + this.searchLng + '', aroundRadius: 20000, numericFilters: '[\"start_time_unix >1509584830\"]' }`

with searchLat latitude, searchLng longitude and start_time_unix the unix time i want to filter

[2017-11-02 07:14] Haroenv commented on #352
perfect @foufrix, have a great day!

[2017-11-02 07:14] #352 closed

[2017-11-11 07:44] salparadise opened #357 "Refinement list / tree menu with vue-router"
**Do you want to request a *feature* or report a *bug*?**

Report a bug.

**Bug: What is the current behavior?**

I'm using vue-instantsearch along with vue-router to make a simple SPA. There are some refinement list and tree menu components on the search page. After clicking on any router link, even outside of index component, it is behaving as if I'm clicked on refinement list / tree menu item.

[2017-11-11 08:05] Haroenv commented on #357
Can you make a small replication in a repo, it will be a lot more straightforward to see which situation you are hitting

[2017-11-11 09:47] salparadise commented on #357
Sure, here you go: https://github.com/salparadise/vue-instantsearch-spa

If you navigate to search page and then navigate back to home page, you will see that on "Home" click two requests are being made.

[2017-11-11 10:04] Haroenv commented on #357
perfect, will take a look at that soon

[2017-11-11 14:53] rayrutjes commented on #357
Just tried it, and I consider it is a bug.

What happens is that when search components gets destroyed, we remove facets from the search store. This triggers a search operation because the query parameters changed.

Here we probably need to either:
1. not remove anything when components get destroyed
2. stop the store before removing the facet

Should be a quick fix.
I'll go with 1. for now has it

[2017-11-11 15:03] rayrutjes commented on #357
I tried #359 with your example @salparadise and it works ;)

[2017-11-13 20:56] iamraphson opened #360 "compose a link to filter a result and switching between two indices"
Hello,
Currently facing 2 issues at the moment. I have to 2 indices(groups and students). Groups Indice contains group details and list of students under it.

first, I want to compose a URL/route in such a way when I click on a group, it will take students index page which will be filtered by group.

secondly, I defined a facet `age` on my student index. switching between the 2 indices page(groups

[2017-11-13 21:12] rayrutjes commented on #360
Is there any chance you could share a isolated example to re-produce this?

It think this is related to the way we remove facets when components get destroyed.

[2017-11-14 05:51] iamraphson commented on #360
@rayrutjes  sure
[code]
[code]
[code]

[2017-11-14 05:52] iamraphson commented on #360
@rayrutjes how will I component the URL please in such a way that it will go to the other index, filtered.

[2017-11-14 09:46] rayrutjes commented on #360
@iamraphson could you create a small repo with the code so that we can run it?
I don't see any obvious things that could be problematic in the above code so we would have to run it.

Maybe @samouss can help on this one.

[2017-11-14 13:32] iamraphson commented on #360
@rayrutjes thanks

Hi @samouss ..can i invite to a private repo?

[2017-11-14 14:49] iamraphson commented on #360
@rayrutjes I think something is wrong with `ais-range-input` component. I tried it with `ais-price-range` component and I switch between pages and it worked fine with no error.

[2017-11-14 15:25] iamraphson commented on #360
@rayrutjes @samouss send a mail to support@algolia.com. please kindly help. This's urgent

[2017-11-15 10:57] #357 closed

[2017-11-17 12:38] majidsajadi opened #364 "How to put the result in string in Laravel blade?"
I`m using vue instantsearch in my web application and it works great but how can i put id of my records in href attribute of <a> ?
my blade template :
`<div id="app">

		<ais-index app-id="{{ config('scout.algolia.id') }}"
		api-key="{{ config('scout.algolia.secret') }}"
		index-name="doctors">

		<ais-input placeholder="Search doctors..."></ais-input>

		<ais-results>
			<template scope="{ result

[2017-11-17 13:06] #364 closed

[2017-11-17 13:17] vvo commented on #364
Hi @majidsajadi if you find how to solve this, can you add a comment on how you solved it? This will help future GitHub searches.

[2017-11-20 17:25] samouss opened #365 "Component perform same request on creation"
In Storybook all components perform at least two requests when they are created. When a component involved some facets (ex: RefinementList, RangeInput) the component will trigger four requests on creation.

You can reproduce easily in [Storybook](https://community.algolia.com/vue-instantsearch/stories/?selectedKind=RefinementList&selectedStory=default&full=0&down=1&left=1&panelRight=0), open the d

[2017-11-20 17:30] Haroenv commented on #365
I really think issues like those should be solved upstream. I don't understand why the cache doesn't kick in for these requests, and neither in RIS 😢

[2017-11-20 17:37] samouss commented on #365
I agree on the fact that maybe the cache could handle this. But we still have a problem we shouldn't perform four request on component creation. Same for RIS. If it's a design problem we should probably think about it at some point.

[2017-11-20 20:32] rayrutjes commented on #365
I can take a look at this.
I expect double the amount of requests given the wrapper around the story is entirely decoupled from the actual story.

However it seems there are 4 times the amount of queries.

In Vue InstantSearch, the solution for this kind of problems is to "stop" the store and "start" it again.

In stories I voluntarily didn't use that to not introduce complexity.

[2017-11-20 20:35] rayrutjes commented on #365
I just checked and I think the case where there are 4 requests only happens if you are not using the last version.
We fixed an issue in #359

Can you check with the latest version @samouss ?

[2017-11-21 06:18] samouss commented on #365
On Storybook it’s not the latest version?

[2017-11-21 11:17] samouss commented on #365
Yes, but inside the component we already do something with "start" & "stop". We also need to do it at the application level?

On Storybook it should be the latest version right?

[2017-11-21 13:27] Haroenv opened #366 "A guide for refreshing the search interface"
https://github.com/algolia/vue-instantsearch/issues/241#issuecomment-320491382

a custom component with searchStore.refresh()

[2017-11-21 15:24] rayrutjes commented on #365
This is done by default in the Index component.

In story book however it is a bit hacky and the logic doesn't kick in.

On the live version on don't see the 4 requests issue, do you?

[2017-11-21 16:26] samouss commented on #365
Thanks for the precisions @rayrutjes! But on [Spencer & Williams](https://www.spencerandwilliams.com) if you trigger a search on the Homepage, it will trigger two requests with two duplicates (four in total).

[2017-11-21 16:56] rayrutjes commented on #365
I'm not sure this library is used everywhere on that project.
@ehayman could tell us more about it.

[2017-11-21 17:19] ehayman commented on #365
We should upgrade to the latest version before saying anything definitive - @utay do you mind doing this and testing it out again?

[2017-11-21 18:10] utay commented on #365
Sure. I'll upgrade, test it and let you know!

[2017-11-21 20:17] utay commented on #365
So upgrading the library (to `1.3.2`) didn't change anything. However, I don't know why, but when I remove the `query-parameters` prop of the `ais-index` component, it doesn't do the duplicate requests.
@rayrutjes @Haroenv do you have an idea of what is going on?

[2017-11-21 20:43] rayrutjes commented on #365
The `query-parameters` property is a bit "magic", and tries to do a bit too much I fear.
It is supposed to only merged into the helper the parameters that are given.

However, the helper is not always able to detect if something has really changed, so it will emit a change event and trigger an Algolia call.

I would need to investigate the implementation in more detail to come up with a better ide

[2017-11-21 20:43] rayrutjes commented on #365
@utay could you point me toward the files you are referring to?

[2017-11-21 20:51] utay commented on #365
Got you!

The logic of the homepage ([link](https://github.com/algolia/atis/blob/develop/vue-is/src/components/HomeSearch.vue#L36-L40)) is a bit complex, [here is](https://github.com/algolia/atis/blob/develop/vue-is/src/components/Contact.vue#L32-L34) the `/contact` page code which also has a search and has the exact same behaviour while removing `query-parameters`.

[2017-11-21 22:56] rayrutjes commented on #365
I spent a fair amount of time on this and narrowed down the issue to a few things.

* upgrade algoliasearch-helper to 2.23.0 to benefit from the "smarter" change detection
* make sure [this](https://github.com/algolia/vue-instantsearch/blob/master/src/store.js#L377) is actually subject to passe [this](https://github.com/algolia/algoliasearch-helper-js/blob/develop/src/algoliasearch.helper.js#L1269

[2017-11-22 00:20] rayrutjes commented on #365
I think I will need to summon @bobylito here.
I'm not sure I get the full logic of how we detect if the state has changed.
Even when I take the existing state and set it again it triggers change events.

[2017-11-22 09:36] bobylito commented on #365
Hello everybody 👋

Happy to provide some information about the "change detection".

The helper is composed of two layers:
 - one is the "public" interface (the helper that we manipulate) which is an event emitter.
 - the other is the inner data structure that contains the search parameters. This object is built like an immutable data structure, meaning that it will return a new instance when there

[2017-11-22 13:54] rayrutjes commented on #365
Thanks for that explanation @bobylito , I feel like this helps already narrowing down the issue.

I think this is what is happening, but I will need to spend a bit more time on it to figure out why the helper chooses not to return the previous state instance.

I've already found part of the issue which is that the parameters are sometimes observed by Vue, which means some additional keys are part

[2017-12-04 19:22] Jexordexan opened #367 "Powered-by component is not SSR compatible"
**Do you want to request a *feature* or report a *bug*?**

bug

Steps:

- Create an empty `nuxt` starter project and install `vue-instantsearch`

- add an `<ais-powered-by>` component into one of the templates

- run `npm run dev`

- visit the page with the component and notice the error screen saying `location is undefined`

**Bug: What is the current behavior?**

`<ais-powered-by>` is not SSR co

[2017-12-04 20:04] Haroenv commented on #367
Oh thanks for noticing that. Feel free to add a or if you want

[2017-12-04 20:19] Jexordexan commented on #367
I'll try to leave a PR tonight! for now I've wrapped it in a nuxt `no-ssr` component

[2017-12-04 21:47] #367 closed

[2017-12-05 10:03] techytuppers commented on #229
Is anyone else finding that there are restrictions to using inline-template regarding accessing methods? For example, if I wanted to run a method that returned a string depending on the value of of something from my data object:

[code]

If I try to do the same as above with an in-line template, I'm unable to access the methods:

[code]
Not using inline-template allows me to access all methods I n

[2017-12-05 10:11] Haroenv commented on #229
@techytuppers a `tag` on `ais-results` would be the wrapper tag, not that one of each result, right?

[2017-12-05 10:49] techytuppers commented on #229
@Haroenv yes I guess I was thinking it could be the `<tbody>` rather than a `<div>`

[2017-12-05 11:14] Haroenv commented on #229
@techytuppers I guess that makes sense in this case then. Do you think other components can also benefit from the `tag` prop?

[2017-12-05 11:29] techytuppers commented on #229
@Haroenv I'm not sure, looking at the possibilities, the other components reference more than just a  single element:

`<ais-search-box>` incorporates the search box, plus the actions buttons, so adding a tag wouldn't make much sense here as it wouldn't be clear which element you were overriding (or in fact why you would want to)

`<ais-pagination>` dictates both the `<ul>` and `<li>` which seems

[2017-12-05 12:36] Haroenv commented on #229
There’s also aid-input for the searchbox without the rest, but the other buttons are there for a11y etc

[2017-12-05 13:03] rayrutjes commented on #229
I don't think going for a "tag" is a good option as it will quickly add a lot of noise to the API.
Indeed when using inline-templates, the scope is the one of the component you are inlining the template for, that is why you can no longer access your methods. This is also why it is not recommended to use inline-templates in the official docs.

If you need to go specific on the tags + the behavior,

[2017-12-05 13:36] techytuppers commented on #229
@rayrutjes I'd be very happy to go for a custom component, and given the other behaviour I'm looking to implement (expandable child rows), it's by far the cleanest solution.

I was just attempting that based on both:
https://community.algolia.com/vue-instantsearch/components/results.html and
https://community.algolia.com/vue-instantsearch/getting-started/custom-components.html

But I'm struggling

[2017-12-05 13:44] rayrutjes commented on #229
I would go with a custom "Results" component and not use the one shipped with the library.
You can just copy paste the existing Results.vue file, and adjust it.

That way you got full control over what's happening.

[2017-12-05 15:32] techytuppers commented on #229
@rayrutjes Brilliant thank you so much. I've replaced all the code in Child.vue with the code from Results.vue, as well as copied across the component.js file as it was a mixin requirement. This solves all the problems. Thanks to @Haroenv too for your earlier responses.

[2017-12-05 16:14] Haroenv commented on #229
awesome @techytuppers

[2017-12-05 18:51] rayrutjes commented on #229
Kool @techytuppers .

You don't need to copy over the component.js file, it is exported!
See here: https://community.algolia.com/vue-instantsearch/getting-started/custom-components.html#how-to-create-a-custom-component

I hope that will make it even cleaner!

[2017-12-06 18:37] peteleco commented on #224
Hi, i was able to apply url params this way.
At ais-results set a reference

`<ais-results ref="filterResult">`

Use a computed to preset a list of available params

`
computed: {
  facetFilters: ['tag.value', 'venue.neighborhood']
}
`

And at mounted() function i run a verification and apply a facet filter if defined at url

`this.facetFilters.forEach((filter) => {
        if (this.$route.query[f

[2017-12-07 19:07] iamraphson opened #370 "Advance Geo-Search"
can I do a component like https://preview.algolia.com/geo-search/ for vue. The more, you draw or drag, the more it changes the result

[2017-12-08 11:00] Haroenv commented on #370
It's not part of the components we have right now, but you can make a custom component which changes the relevant refinements. See more https://community.algolia.com/vue-instantsearch/getting-started/search-store.html

cc @samouss who is making that kind of functionality for React InstantSearch

[2017-12-08 16:57] samouss commented on #370
Yep we plan to implement this kind of widget in each InstantSearch library. We keep this issue as a reminder, we will link the next discussions about GeoSearch to it.

[2017-12-08 20:18] iamraphson commented on #370
@samouss i will be looking forward to the widget.

[2017-12-09 14:17] alvaxet opened #371 "For ais-pagination component event page-change doesn't fire on IOS"
Hi guys,

For ais-pagination component event page-change doesn't fire on IOS, Chrome. This is the code I use:
`<ais-pagination :padding="1" v-on:page-change="scrollUp"></ais-pagination>`

Pagination itself does work on IOS. Event does fire when I test it on laptop (MacOS). Seems like it's IOS specific. I use IOS 11.2, IPhone 6s. Chrome version: 63.0.3239.

[2017-12-09 14:21] rayrutjes commented on #371
Thanks for submitting that @alvaxet .

That sounds like a bug to me.

However, we leverage a native Vue method $emit here: https://github.com/algolia/vue-instantsearch/blob/master/src/components/Pagination.vue#L100
If the pagination works, then the event should be fired.

Could you share your implementation maybe?

[2017-12-09 14:24] rayrutjes commented on #367
Hey @Jexordexan , this is now release in v1.3.3

Let me know if it works out properly now.

Thanks for your work!

[2017-12-10 06:07] alvaxet commented on #371
Yes, I can see that $emit, however, when I inject console.log or alert in callback function (in my case its scrollUp function) for that event I don't get anything on IOS.

I can not share all the code, but these pieces should be enough:

**main.js:**
[code]

**HTML:**
[code]

**Component:**
[code]

Let me know if you need any additional info

[2017-12-11 08:18] rayrutjes commented on #371
Could you also share the implementation of "scrollUp"?

Does it work if you leave only 1 of the 3 pagination components?

BTW, I would try to not use 3 pagination items but 1 and change the surrounding wrapper class.

[2017-12-11 10:15] alvaxet commented on #371
[code]

It still doesn't work if I leave just one pagination component. It works just fine with 3 of them when I test it on laptop

[2017-12-11 11:14] rayrutjes commented on #371
Could it be that:
- `alert` is somehow being skipped by IOS?
- at the same time you might be facing a mobile limitation on scrollTop? https://blog.jonathanargentiero.com/jquery-scrolltop-not-working-on-mobile-devices-iphone-ipad-android-phones/

[2017-12-11 14:34] alvaxet commented on #371
@rayrutjes both :-)

Thank you for your help, closing the issue

[2017-12-11 14:34] #371 closed

[2017-12-11 15:31] Haroenv commented on #371
So the issue was with jQuery in the end?

[2017-12-11 22:03] rayrutjes commented on #371
@alvaxet if you have a second, please share what you did to solve the problem, we are pretty curious :)

[2017-12-12 01:19] alvaxet commented on #371
Yes, the issue was with jQuery at the end.

1. alert didn't appear because of the cache, after I've cleared the cache I started to see it. Which means that it does fire the event and the problem is inside the scroll

2. Changing
`$('html').animate({ scrollTop: $('#search-results').offset().top-60 }, 400);`
to
`$('body').animate({ scrollTop: $('#search-results').offset().top-60 }, 400);`

fixed it.

[2017-12-12 16:39] rayrutjes commented on #371
Thanks for sharing the solution!

[2017-12-17 14:02] kfirba opened #372 "Initial facet filtering for "deep links""
**Do you want to request a *feature* or report a *bug*?**
Bug.

**Bug: What is the current behavior?**
When we try to access a "deep link" page, for example, `example.com/search?q=term`, we can use the `query` parameter on the `<ais-index>` component to set a "default" value for the search.

When we try to do the same with facets by accessing a custom "deep link" such as `example.com/search?facet=

[2017-12-19 23:06] shaunnez opened #374 "Search Store Facet Refinement - "OR""
First things - great library.

What I would like to know is how to use "add facet refinement" to do an "OR" query instead of an "AND" query.

i.e. store.addFacetRefinement("skills", "dev"); store.addFacetRefinement("skills", "designer")

The above causes it to be an "and" query (where each person must be a dev AND a designer).

According to the algolia documentation, we need to parse in an "array"

[2017-12-19 23:21] Haroenv commented on #374
[code]

That way that facet is set up for faceting with “or”, rather than the default of “and”

[2017-12-19 23:21] #374 closed

[2017-12-19 23:22] Haroenv commented on #374
Thanks for using Vue InstantSearch and don’t hesitate to reach out for any other questions

[2017-12-20 08:53] rayrutjes commented on #374
Definitely something we need to add to our docs.
This has become a frequent question.

Moreover, a lot of users are trying to leverage the `queryParameters` for this and it doesn't work.
Maybe we should see what's happening there and make it work if it makes sense, or raise an error for users to act accordingly.

[2017-12-23 16:03] michaelpumo commented on #347
Just chiming in, but I think this term is known as “ghosts”. Essentially showing facet links that would result in zero results.

I think it’d be nice to have this, especially from a UX perspective as it can help the user have a better understanding with what’s going on.

There is a plugin for WordPress that produces Facet searching and it had this option. See example doc here:
https://facetwp.com/

[2017-12-26 06:42] 3alampro opened #375 "Index component with auto search disabled and empty query"
Hello,

I'm using vue-instantsearch in my Laravel App Project and love how easy and super fast to implement the search functionality on my project specially with multiple Indexes

the only issue I'm facing right now is disabling auto search when the page load for the first time I achieve that by configuring the auto-search props to false on the index component and it's work fine but how can I disa

[2017-12-27 04:34] vasilestefirta opened #376 "_highlightResult returns escaped html"
Hey guys,

I have some data in Algolia which includes HTML content (the field name is called **body** in the examples below). When I perform a search, the **body** field from the "_highlightResult" object includes escaped html, which does not allow me to output it via `v-html` or `<ais-highlight>`component like so:
`<ais-highlight :result="result" attribute-name="body"></ais-highlight>`

The **bod

[2017-12-27 10:20] samouss commented on #376
Hi @vasilestefirta,

The `_highlightResult` values are always escape by default. Except the highlight tag name (`em` in your case). I think we do that for security reason, since the value push to Algolia could be some sort of user generated content that's why we enforce the escaping for those attributes.

We can probably think to add an options for disable the auto escaping. Because there are some

[2017-12-27 10:46] rayrutjes commented on #376
The problem is that that highlighted values could be invalid HTML if the content is truncated at the wrong position.

We currently have no opt-out option for this but I'm not convinced we need it.
The only use case is if you have a controlled length field with valid HTML that is already secured.

[2017-12-28 07:21] vasilestefirta commented on #376
Thanks guys!

Now it makes sense why that happened. I guess I'm going to stick with my workaround for now, but I'm looking forward for an enhancement down the road 👍

[2017-12-28 20:13] rayrutjes commented on #376
Hey @vasilestefirta,
Thanks for your support.
The enhancement will probably come from the Algolia API directly.
Until then I'm closing this.

[2017-12-28 20:13] #376 closed

[2017-12-29 12:34] kfirba commented on #372
Is there anything new with this issue?

[2017-12-29 12:53] Haroenv commented on #372
Nothing new yet, we haven’t decided how to solve this

[2018-01-02 02:17] fi0 opened #378 "TypeScript support"
**Do you want to request a *feature* or report a *bug*?**
Feature

Please add types so that vue-instantsearch can be used in a TypeScript project. Thank you!

[2018-01-02 07:57] Haroenv commented on #378
Hey @fi0, are there any errors you get because this library isn't typed yet? Which parts would you like to see typed first? Feel free to open a PR by the way 😄

[2018-01-02 08:32] samouss commented on #334
Also needs `MenuSelect` widget.

[2018-01-02 08:53] rayrutjes commented on #334
Added @samouss

[2018-01-04 11:27] mtilokani opened #379 "Get first few search results"
How to get first few search results?

Example: Is there facility to show say first 10 result items and then link as "Show all" ?

[2018-01-04 11:53] Haroenv commented on #379
[code]

In there you can limit it and add a button to toggle between full view and just a few, does that help you?

[2018-01-04 11:56] mtilokani commented on #379
@Haroenv , yes I had seen this inline template example previously, but thought might be there will be some facility from plugin/package end to do this like say

`<ais-results :limit="10">
...
 </ais-results>`

[2018-01-04 12:57] Haroenv commented on #379
not natively @mtilokani, but we'll keep this suggestion in mind  if more people ask for it.

I'll close this issue for now, since there's a workaround, thanks for your issue!

[2018-01-04 12:59] mtilokani commented on #379
@Haroenv , Ok, thanks for your time.

[2018-01-04 13:03] Haroenv commented on #379
Have a great day @mtilokani 👍

[2018-01-04 13:03] #379 closed

[2018-01-05 13:37] terranboy commented on #314
Hi ,when will CurrentRefinement component be released?
Thank you

[2018-01-05 13:55] Haroenv commented on #314
There's no current roadmap for that @terranboy

[2018-01-16 00:18] einar-johan commented on #224
Sweet @peteleco ! Thank you! I've been trying to figure this out for almost two days now, and this did the trick!

[2018-01-16 18:15] abattenburg commented on #366
@Haroenv has this feature been added? I know it's not in the docs yet, but I was just trying to use `searchStore.refesh()` in a method for testing purposes and it doesn't seem to have any effect.

I would love to see even a little example. Being able to refresh algolia without a hard reset to the entire component would be amazing.

[2018-01-16 18:19] abattenburg commented on #366
Never mind made a silly mistake and it's working just fine. Great to know this feature has been added!

[2018-01-16 18:32] Haroenv commented on #366
Feel free to leave a short snippet here for the time that it's not documented explicitly yet

[2018-01-16 21:03] abattenburg commented on #366
Never mind it looks like I celebrated too soon. I'm not sure if I never had it working in the first place, but when I went to post the example it no longer works. The `store.refresh() ` was added to the vue package as well as the react one right?

I'll post my setup and questions to a different issue.

[2018-01-16 21:09] Haroenv commented on #366
@abattenburg, react IS has refresh with a different method, but there’s a guide about it. Thanks for posting a new issue

[2018-01-16 21:52] abattenburg opened #380 "Store.refresh() not working with Nuxt?"
I'm trying to test the `searchStrore.refresh()` method with Nuxt, and don't seem to be seeing any result. To test I'm changing my data in algolia, and then calling the method `algoliaRefresh` and looking for changes.

As shown below I'm using the Nuxt setup from this [example](https://community.algolia.com/vue-instantsearch/advanced/integrate-with-nuxt.html),  and referencing the created store wit

[2018-01-17 23:14] NicolasPK commented on #315
Hey @rayrutjes ,

I looks like there's [a slot for clear now](https://github.com/algolia/vue-instantsearch/blob/master/src/components/Rating.vue#L6), could you do the same for the `& up`?
Your solution doesn't allow me to add facet, or the `bem()` function (obviously) and all I want to do is amend this text.

Cheers

[2018-01-23 12:15] NicTorgersen commented on #178
Hi, @rayrutjes

Hijacking this because I'm apparently a web conquistadore.

Anyway, I'm working on a product listing page on top of Wordpress using Algolia, and I'm super happy with it, awesome work, however I find the URLSync option lacking? Is this still the case?

I don't see the reason for using Vue Router for this, considering it's such a small footprint. URL shape does not matter to me.

[2018-01-23 12:58] Haroenv commented on #178
@NicTorgersen, this isn't yet possible, but we do take it in account, feel free to upvote the original post here so we can easily sort by # interested people

[2018-01-23 13:52] peteleco commented on #325
Just subscribe this feature, i will be implementing something like this in next week.

[2018-01-23 14:10] Haroenv commented on #325
Please do a PR or pen with your solution, it’ll be very useful

[2018-01-24 10:21] NicTorgersen opened #381 "Whitespace between checkbox and default slot in RefinementList"
Insanely tiny bug incoming!

**What is the current behavior?**

There is an awkward whitespace between checkbox and text content. This causes a visual bug with the UI when the label has `text-decoration: underline;`.

**What is the expected behavior?**

That there's no hard coded whitespace between the checkbox and the text content.

As seen here, Filter 1 has the issue. Filter 2 has the whitespac

[2018-01-24 10:47] Haroenv commented on #381
Do you want to do a PR for this?

[2018-01-24 15:33] NicTorgersen commented on #381
Sure :)

[2018-01-29 22:21] aarondfrancis opened #385 "Null attributes causes the highlight component to throw errors"
**Do you want to request a *feature* or report a *bug*?**
Bug.

**Bug: What is the current behavior?**
I have homeowner records in Algolia, and sometimes the `owner_name` can be `NULL`, when that's the case, the `ais-highlight` will throw this error over and over:

`Error in render: "Error: The "owner_name" attribute is currently not configured to be highlighted in Algolia. See https://www.algolia

[2018-01-29 22:29] aarondfrancis commented on #385
I think at a very minimum, the error message should be clarified, because it sent me down the wrong path for an hour or two trying to figure out why it wasn't "configured for highlighting".

[2018-01-29 22:38] Haroenv commented on #385
Seems like in your case, just changing that error to “might” and into a warning should be enough I think

[2018-01-29 22:39] Haroenv commented on #385
Feel free to make a PR to any text you’d prefer!

[2018-01-29 22:52] aarondfrancis commented on #385
I think that better solution is for the `ais-highlight` component to happily display `null` values.

[2018-02-01 21:15] Evild67 opened #387 "How to use paginationLimitedTo ?"
I want to display more than 1000 results. I used infinit scroll with :stack option but when i trying to get more than 1000 results stacked, i get an error

I did not find how to use paginationLimitedTo :/

[2018-02-02 09:03] #385 closed

[2018-02-02 09:12] Haroenv commented on #387
You can put it in the `:query-parameters` of the InstantSearch component: https://community.algolia.com/vue-instantsearch/components/index.html#usage

[2018-02-02 09:54] OGhawsi opened #388 "How to clear result set with no query"
I am applying algolia vue-instantsearch into a project, I have set auto-search to false which works as expected. But I would like to hide all the results and clear everything when the user hits backspace or even clear the search box.
The problem is that all the records are brought back as if auto-search is =true.
Any way how can I achieve the expected result?

Thanks in advance.

[2018-02-02 10:01] Haroenv commented on #388
Can you give a demo please, I'm not sure what you're expecting to happen.

The `auto-search` prop is to make sure that when you're loading a page, there will be results, if you put that to false, the _very first_ query will be prevented, none of the other ones.

I'd love to figure out what your usecase is!

[2018-02-02 10:09] OGhawsi commented on #388
Same thing as on Algolia Community Forum,  when user starts typing in the search box then the results are fetched.
Here is the link to the Forum.
https://discourse.algolia.com/?ref=communityHeader

Thanks

[2018-02-02 10:36] Haroenv commented on #388
Aha, you want to create an autocomplete experience? You should be able to something like this:

1. create a custom component using the `Component` mixin like the ones in this library
2. use this new component to wrap around the results
3. in your new component's template, add the default slot only `v-if="searchStore.query.length > 0"`

Hope that makes sense!

[2018-02-02 11:45] Evild67 commented on #387
paginationLimitedTo can't be added to :query-parameters
https://www.algolia.com/doc/api-reference/api-parameters/paginationLimitedTo/?language=javascript.

![image](https://user-images.githubusercontent.com/2675980/35731676-e48026e4-0816-11e8-89dc-52ca8d5f7ce2.png)

[2018-02-02 12:27] Evild67 commented on #387
I tried this, but not working :/ I didn't find vue-instantsearch docs how to set this. I got an error, `setSettings is not a function`. But this is normal here, i can't find setSettings in this file https://github.com/algolia/vue-instantsearch/blob/master/src/store.js. Is this option elsewhere implemented ?
[code]

[2018-02-02 13:38] Evild67 commented on #387
Thanks ! I just created a quick script to update my settings because i did not find where to update this on the dashboard. Is it available ?

[2018-02-02 13:38] #387 closed

[2018-02-02 13:51] Haroenv commented on #387
perfect!

[2018-02-03 04:29] OGhawsi commented on #388
Yeah that is exactly what I am looking for. That would be really great if this feature is added out of the box,
Since for people like me who are new to Vue, will find it little confusing. I appreciate your help and work.
Thanks @Haroenv

[2018-02-03 06:28] #388 closed

[2018-02-03 08:07] Haroenv commented on #388
We’ll take it in account, for now it’s simple enough, but we should probably add a guide 👍

[2018-02-06 13:25] rikiless opened #389 "Combine multiple Tree menus on the same page"
Is it possible to use two Tree menus on the same page? For examples tree menu filtering for Categories and Regions?

If I use component `<ais-tree-menu>` twice in my PHP template the attributes from the first one overrides the second one. The result is I will get two components with Categories options only.

[code]

[2018-02-06 14:06] Haroenv commented on #389
Can you make this into a sandbox like [this](https://codesandbox.io/s/github/algolia/vue-instantsearch-examples/tree/master/examples/e-commerce)? I wonder where this issue is exactly occurring from

[2018-02-06 17:24] rikiless commented on #389
Sorry for spamming. I did not read the [docs](https://community.algolia.com/vue-instantsearch/components/tree-menu.html#props)...

**The props attribute needs to be added.**

[2018-02-06 17:24] #389 closed

[2018-02-06 17:55] Haroenv commented on #389
Perfect!

[2018-02-07 23:40] abattenburg commented on #380
As an update to this issue, I've tried a number of methods to trigger a reload (`searchStore.stop()/ searchStore.start()`, implementing the regular SSR solution) but with no luck.

However, a hacky way to get around this is to change the query via a method (` this.searchStore.query = '='`) to a character not likely to be used. For some reason if an unused character is typed in for the first time,

[2018-02-08 10:08] Haroenv commented on #380
that’s really odd, could you make this into a full github repository or example on Glitch so we can try it out?

In the meantime, another example that works to my knowledge is this one: https://github.com/algolia/vue-instantsearch-examples/tree/master/examples/nuxt

[2018-02-08 17:22] abattenburg commented on #380
I've been using that example since it was first added to the docs in September I think. Everything works fine except the refreshing which back then their didn't exist a method for. I saw it was introduced at [https://github.com/algolia/react-instantsearch/pull/619](https://github.com/algolia/react-instantsearch/pull/619) for the react library, and that according to your issue #366 it has also been

[2018-02-13 10:19] muhibbudins opened #392 "[Question] Rangking & Faceting with SearchStore"
Hi there,

Thank you very much for awesome work. I have many question when using vue instantsearch (especially on nuxtjs). In this case i can't use "search input" (see image below) so i create SearchStore for manual search.

<img width="390" alt="screen shot 2018-02-13 at 17 13 06" src="https://user-images.githubusercontent.com/17744043/36144657-4e7ae3f4-10e1-11e8-97c0-dcc1292040f9.png">

---

And

[2018-02-13 10:31] Haroenv commented on #392
Hey @muhibbudins, can you give the other parts you tried as well, so I can try something out which I can run and debug? Especially would like to see what the exact parameters that are sent are, but I'll need to have a complete experience for that. You should be able to use [glitch](https://glitch.com) or just a GitHub repository for the server normally.

[2018-02-13 11:18] muhibbudins commented on #392
Hi @Haroenv ,

Thank you very much for answer my question, for problem multiple faceting. I already found the answer like this.

[code]

But for sort ranking like sort by price or view count, i can't solve now. Maybe i'll find a solution at the source code or discourse.

---

Thank you

[2018-02-13 11:18] #392 closed

[2018-02-14 06:17] VinceG opened #393 "Feature: pass in the page when emitting the page change event"
**Feature: What is your use case for such a feature?**

Right now when the page change event is emitted it's empty. it'll be nice to get the page it was changed to passed in.

This might not be an actual feature or a bug but rather a minor change. I can submit a PR if needed. ~~I was also wondering if there is a way to access the current page in any other way?~~

Edit: I guess the page can be acce

[2018-02-14 09:01] Haroenv commented on #393
That makes sense. Do you want to make a PR for this? Relevant code can be added here:

https://github.com/algolia/vue-instantsearch/blob/40c9406c5f0d477324a2e9061c75241f6debad6e/src/components/Pagination.vue#L100

[2018-02-14 17:46] VinceG commented on #393
@Haroenv thanks, will do.

[2018-02-15 08:42] #393 closed

[2018-02-16 18:01] VinceG opened #395 "Running Uglify causes errors on page and the components fail to load"
I have this issue when trying to use the instant search, it seems that if we try to build our app for production (tree shaking, uglify, etc..) the app breaks due to vue instant search. If i remove the vue instant search import everything works fine.

I am not sure if it's due to the fact vue instant search is already compiled and we try to uglify it again? I wanted to see if you guys had any issue

[2018-02-18 10:47] Haroenv commented on #395
Can you leave your setup here? Usually you wouldn’t process dependencies like that, but I’m not sure what can be going wrong. A repository we can try out would be ideal

[2018-02-19 16:35] VinceG commented on #395
@Haroenv I am going to create a simple repository to reproduce the issue.

[2018-02-20 20:07] VinceG opened #396 "Feature: add debounce as optional parameter for the query watch"
**Feature: What is your use case for such a feature?**

Right now the instant search does what it suppose to do and that's search on every key stroke. However in some cases it'll be helpful to add a timeout for the search. right now if i type a name while i type it goes to the server to return the results, this is by design but it'll be helpful if we can specify a timeout in ms as in a lot of case

[2018-02-20 23:11] VinceG commented on #395
Closing since when using a separate repository with fresh install this does not happen. I am sure this is due to our app being so large and having so many dependencies that something is causing that error.

[2018-02-23 20:24] VinceG opened #397 "Bug: empty search input performs search"
**Bug: What is the current behavior?**

empty search string performs a search operation.

**Bug: What is the expected behavior?**

if the search term is empty do not perform a search string

**Bug: What browsers are impacted? Which versions?**

All browsers.

**Bug: What is the proposed solution?**

if the string is empty do not run a search

We have thousands of searches for an empty string.

[2018-02-23 23:34] Haroenv commented on #397
This is in fact on purpose to warm up the connection to have a faster second request. You also don’t get charged for search operations, so this shouldn’t really be an issue for you in that regard.

Is this a blocking issue for you?

[2018-02-23 23:36] Haroenv commented on #397
By the way, I’m in LA for the weekend, if you want to talk about it or give your experiences otherwise :)

[2018-02-23 23:42] VinceG commented on #397
@Haroenv it's not blocking, i was just curious as to why it'll run an empty search. I don't mind as long as we don't get charged for it.

![screen shot 2018-02-23 at 3 40 10 pm](https://user-images.githubusercontent.com/195199/36622042-036356ea-18b0-11e8-8d6d-c602d57a75bf.png)

You should've came to our office, i'd love to give you a tour and show how we use algolia and the what the road map is.

[2018-02-24 00:01] Haroenv commented on #397
Send me an email, I’m still here until Wednesday, haroen@algolia.com

[2018-02-24 00:41] VinceG commented on #397
@Haroenv sent.

[2018-02-28 20:18] #397 closed

[2018-02-28 20:24] VinceG commented on #395
@Haroenv How would i go in troubleshooting this? it seems it's something to do with our build process but this is the only thing that has an issue.

[code]

![screen shot 2018-02-28 at 12 21 47 pm](https://user-images.githubusercontent.com/195199/36811254-fccc7e8a-1c81-11e8-9b50-66d142c66232.png)
![screen shot 2018-02-28 at 12 21 35 pm](https://user-images.githubusercontent.com/195199/36811255-fce

[2018-03-05 09:04] Haroenv commented on #396
As discussed in person, debouncing is something that can be done by copying the bits of ais-searchbox and ais-input and debouncing in the event manually and debouncing before changing the `searchStore.query`. For that reason there's no urgent need for a native debounce method in Vue InstantSearhc for now.

[2018-03-05 09:04] #396 closed

[2018-03-05 11:47] #381 closed

[2018-03-05 15:14] #378 closed

[2018-03-05 15:14] Haroenv commented on #378
It should be usable with TypeScript even if we don't have typings in the library, feel free to reopen if you still have issues

[2018-03-05 22:55] julon commented on #365
Hi @rayrutjes,

not sure if it can be of any help but I met some similar behavior of storybook on my side,
which is related to the [addon](https://github.com/storybooks/storybook/issues/707) system.

Adding a withDecorator, calls the story.add callback twice. And adding custom editable values to withKnobs duplicates the mounting process thus duplicates the http calls. Maybe the withPreview you are

[2018-03-07 08:40] julienbourdeau opened #402 "Do not load results of page load (empty query)"
**Do you want to request a *feature* or report a *bug*?**

feature

**Bug: What is the current behavior?**

Currently, there is no easy way to hide results on page load (empty query). I believe this is pretty common request.

**Bug: What is the expected behavior?**

The page should not display results, but it also shouldn't load data. If you sinmple `display: none` images and such will be fetched.

[2018-03-10 12:45] ibrahimhajjaj commented on #402
I still need answer !!

[2018-03-10 23:07] jaredloman commented on #395
@VinceG what version Laravel Mix are you running? I was able to resolve this by upgrading Mix to the latest version.

What I did to troubleshoot this was start a basic Vue project based upon the docs here and then just replicated the build environment of the app that was having trouble. Using Mix 0.8.9 broke this component but upon upgrade it fixed the issue.

[2018-03-10 23:23] Haroenv commented on #395
Interesting, i thought this was fixed. Can someone make a repo which recreates this issue minimally?

[2018-03-11 05:21] jaredloman commented on #395
@Haroenv , I believe this should do it.. https://github.com/jaredloman/instantsearch

npm run dev and everything is fine...npm run production and it breaks

[2018-03-11 13:41] Haroenv commented on #395
Thanks, that will help!

[2018-03-12 08:36] Haroenv commented on #402
Hey @ibrahimhajjaj, I was looking at your repository, but since it doesn't have the build tools included it takes some more time to reproduce, don't worry though; we're on it

[2018-03-12 13:25] ibrahimhajjaj commented on #402
okay that's cool

On Mon, Mar 12, 2018 at 10:36 AM, Haroen Viaene <notifications@github.com>
wrote:

[2018-03-13 09:00] Panart opened #404 "Add CurrentRefinedValues component in Vue-instantsearch"
It would be great to have the CurrentRefinedValues component from React InstantSearch in Vuejs InstantSearch!

[2018-03-13 09:02] Haroenv commented on #404
Will be added in v2, see https://github.com/algolia/vue-instantsearch/milestone/1

[2018-03-13 09:05] Haroenv commented on #404
Right now a workaround you can use is:

1. make a custom widget
2. use `computed: { currentRefinedValues(): { returnthis.searchStore._helper.lastResult.getRefinements(); }}`
3. make some html you want

[2018-03-13 09:07] Haroenv commented on #404
more info [here](https://community.algolia.com/algoliasearch-helper-js/reference.html#searchresults) and [here](https://community.algolia.com/vue-instantsearch/getting-started/custom-components.html)

[2018-03-13 10:13] Haroenv commented on #395
I can replicate the error, and can trace it down to the `debug` package, but I'm not sure how not to throw an error after uglifying it 😞

[2018-03-14 08:44] Panart commented on #404
Thank you @Haroenv , it is working. I was wondering if there is any way, for now, to implement a click on the selected tag? Is there another method to change selected refinements array?

[2018-03-14 09:58] Haroenv commented on #404
Yes, you'll need to use `this.searchStore._helper.removeFacetRefinement` in the click handler. See also [the docs](https://community.algolia.com/algoliasearch-helper-js/reference.html#AlgoliaSearchHelper#removeFacetRefinement)

[2018-03-14 19:46] Josh865 opened #405 "Populating header slot in Range Input component causes inputs to disappear"
**Do you want to request a *feature* or report a *bug*?**
Report a bug

**Bug: What is the current behavior?**
When populating the `header` slot in the `range input` component, the inputs, separator, and button do not appear.

**Bug: What is the expected behavior?**
The range inputs, separator, and button should appear.

**Bug: What browsers are impacted? Which versions?**
Latest versions of Chrom

[2018-03-14 21:18] Haroenv commented on #405
Thanks for the sandbox! Great issue report. I’ve seen similar issues which were solved by having explicit naming, but will check out where the problem lies ASAP

[2018-03-15 09:20] #405 closed

[2018-03-15 12:51] Haroenv commented on #405
I just released 1.5.2 which fixed this!

[2018-03-15 13:08] Josh865 commented on #405
Works perfectly! Thanks for the quick fix and the great package.

[2018-03-15 13:14] Haroenv commented on #405
With pleasure, don't hesitate to reach out with any other issues you have!

[2018-03-21 14:56] Josh865 opened #410 "Allow disabling validation for range input refinements, as it sometimes leads to unintuitive UI behavior"
**Do you want to request a *feature* or report a *bug*?**
Request a feature

**Feature: What is your use case for such a feature?**
AIS automatically calculates the values for the `min` and `max` attributes of the inputs in the `RangeInputs` component. This is convenient, but sometimes causes undesired UI effects. Specifically, when refining results using a facet *after* specifying a range refinem

[2018-03-21 15:57] Haroenv commented on #410
What if instead of that we changed the value to 80 immediately?

Thanks for the great issue by the way ❤️

[2018-03-21 16:05] Josh865 commented on #410
Thanks for the quick response!

I imagine that would avert the validation problem, but then I wonder if it would be confusing for the user if they then deselected the second refinement (in the example, `Bamboo`). Presumably, they would then expect to see the results of the range input refinement they initially entered (50 to 100), but would instead see the results for the value set by the componen

[2018-03-21 18:54] Alig96 opened #411 "Sync Refinement List with Vue Router"
I got the search query & page to match with Nuxt using the tutorial, but now I would also like to sync the user's refinements to the URL. What would be the most efficient way to do this? What data from the searchStore should I append to the URL and re-apply?

Thanks for the awesome project!

[2018-03-22 10:22] Haroenv commented on #411
For a refinementList, you should sync [`store._helper. getFacetValues `](https://community.algolia.com/algoliasearch-helper-js/reference.html#SearchResults#getFacetValues) add `store.addFacet` when setting the value. Feel free to make this into a repository we can play around with and find the correct way to do it.

By the way, v2 will have a brand new way of doing url synchronisation which will b

[2018-03-22 18:07] Josh865 commented on #410
I was open to the idea of trying to implement this, so I forked the repo and played around with it a bit. Unfortunately, this whole OSS thing is new to me, so I don't even know how to test the modified package locally.

Sorry I can't be of more help! I realize this is an edge case, so in the meantime, I can just use the `Component` mixin (or simply reset the browser's default :invalid styles) to g

[2018-03-22 23:29] Haroenv commented on #410
I’ll take a look at how we can go around this next week. Changing the styles for now seems like a workable workaround

[2018-03-22 23:43] jryd opened #412 "Add range slider as a facet component"
**Do you want to request a *feature* or report a *bug*?**

Feature

**Feature: What is your use case for such a feature?**
This is a feature supported in the vanilla InstantSearch library; https://community.algolia.com/instantsearch.js/v2/widgets/rangeSlider.html. I'm in the process of converting this all to be based of vue-instantsearch given my app uses Vue on the frontend.
This is a nice featur

[2018-03-23 01:18] jryd opened #413 "Add collapsible option to facet components"
**Do you want to request a *feature* or report a *bug*?**

Feature

**Feature: What is your use case for such a feature?**

This would help bring parity to the options we have available in the vanilla JS version of InstantSearch.js.
The use case of this is to have primary filters expanded for prominence, but secondary filters minimized that can later be expanded.
It can also help when you have a n

[2018-03-23 01:56] jryd commented on #178
I have a similar need to @chrysanthos. I'm not using vue-router in my application, as it is quite complex (so not that well suited to be an SPA that vue router usually works well with.
It's also based on Laravel and so already has routing provided by that.

@rayrutjes to answer the questions you originally asked @chrysanthos:

So that users can bookmark and share links to search results. Currently

[2018-03-27 07:42] Haroenv commented on #413
Thanks for raising this issue, as with other feature parity issues, this is also planned in v2

[2018-03-27 07:44] Haroenv commented on #412
As you noted, a  range component is quite hard to build yourself is not that easy. For that reason we also plan to port this component from InstantSearch.js in the coming release. thanks for your patience!

[2018-03-27 08:47] jryd commented on #413
Thanks for your response on this and the other issues I raised @Haroenv. I see the V2 milestone has a due date of 5 April 2018. Is this still looking to be the case, can we expect a release roughly around then? I ask in the interest of not wasting my own time - if a release can be expected shortly then I won't bother on working on a workaround, but if this is looking further away than anticipated

[2018-03-27 08:59] Haroenv commented on #413
The release will likely be delayed a bit because there were some unforeseen complications on the implementation side.

For collapsible specifically, you should be able to copy the component, add a v-if where you prefer it and use that instead of our component, if that makes sense :)

[2018-03-27 09:05] jryd commented on #413
@Haroenv I was thinking of something very similar.

[2018-03-27 09:39] Haroenv commented on #413
Feel free to leave your workaround here, or how far you got if you're stuck in a codesandbox (template [here](https://codesandbox.io/s/github/algolia/instantsearch-templates/tree/master/src/Vue%20InstantSearch))

[2018-03-28 17:29] mycaule opened #414 "numericRefinementList for filtering on date and time for event records"
Please implement `numericRefinementList` in the vue version of the library.

The goal would be to make a date filter as mentioned in https://discourse.algolia.com/t/filter-by-date-instantsearch/2858

[2018-03-28 18:12] timkelty opened #415 "Add showMore feature to RefinementList widget (for parity with InstantSearch.js)"
RefinementList is missing the `showMore` feature from InstantSearch.js:
https://community.algolia.com/instantsearch.js/v2/widgets/refinementList.html#struct-RefinementListWidgetOptions-showMore

/cc @kswedberg

[2018-03-29 08:07] Haroenv commented on #415
v2 will have this feature, but as a workaround, you can do the following:

[code]

Here's a sandbox showing it: https://codesandbox.io/s/5k6oqrry3l

[2018-03-29 08:07] #415 closed

[2018-03-29 08:12] Haroenv commented on #414
Thanks for bringing this to our attention. We will actually rework the way numeric ranges etc. are working specifically for dates all around InstantSearch in the coming time. Could you for that reason explain which behaviour you exactly want to achieve? i.e. what kind of data you have, how you want to refine etc.

Thanks!

[2018-03-29 08:20] mycaule commented on #414
I have a list of events which I would like to filter be date preferably using a calendar UI component.
I stored the date in the index using a numeric timestamp (UNIX time in seconds), and would like to use it as a facet.

It looks like usecase has been studied already using the regular vanilla InstantSearch.js library.

The demo is available on https://mycaule.github.io/tango-search/.

[2018-03-29 08:30] Haroenv commented on #414
So to be clear, every record in your index has a single timestamp, and you want to have a refinement like this?

[code]

with `x` being record not matched, and `o` being record matches?

[2018-03-29 09:49] timkelty commented on #415
Thanks @Haroenv!

[2018-03-29 10:35] mycaule commented on #414
Yes indeed

Something like https://github.com/airbnb/react-dates would be awesome as mentioned by algolia team members here https://github.com/algolia/instantsearch.js/issues/1077

[2018-03-29 11:08] Haroenv commented on #414
🤔 Would it also make sense to have both of those things in two timestamps instead:

[code]

For your use case, if you use the date/time picker, the events need to be completely within the range you give right? You wouldn't want to match things which partially overlap with the range?

[2018-03-29 12:16] kswedberg commented on #415
@Haroenv , thanks! That's pretty much what I did, too. The one thing I missed, though, is conditionally hiding the "show more/less" button if the total number of items in the refinement list is less than or equal to `limit`. A button would have no effect and be potentially confusing to the user since there would not be any more items to show. Is there any way we can access the total number of item

[2018-03-29 12:37] Haroenv commented on #415
Ah, that's a good point. You can edit the component I had to instead copy the contents of RefinementList here in this repository, get the length of `this.facetValues` https://github.com/algolia/vue-instantsearch/blob/master/src/components/RefinementList.vue

[2018-03-29 13:06] kswedberg commented on #415
Awesome, thanks!

[2018-03-29 16:08] mycaule commented on #414
If I want to get every events happening on tuesday at 6pm, this would require more calculation.

That's why I just store the hours, not the full date + hours unix format. But I agree that it's easier to store the hours as numeric values instead of strings.

I still need a date and time picker which is still not provided by `vue-instantsearch`

[2018-03-29 16:24] Haroenv commented on #414
I’m aware that Vue InstantSearch doesn’t have this feature yet, I’m just thinking what you exactly need

[2018-03-29 22:51] michtio commented on #370
any updates on this one , like an ETA ?

[2018-03-29 22:58] michtio opened #417 "Make sure ais-stats doesn't disappear"
currently the stats part is removing the html and the block when the result returns zero, for UX it would be better if you have a search and the search doesn't return any results, the `ais-stats` returns "0 results found" instead of just removing everything.

[code]

can easily be adjusted with the removal of  `v-if="totalResults > 0"` for a end-user it is always strange to see information and all

[2018-03-30 09:08] Haroenv commented on #417
Good point, let's put this behaviour behind an option, because the default behaviour is hiding in other versions of InstantSearch too, in favour of replacing the hits with some display for "no hits found" rather than reusing the stats.

`v-if="autoHide && totalResults > 0"`

with `autoHide` being a prop that defaults to true. Do you want to make a PR for this?

[2018-03-30 09:09] Haroenv commented on #370
sooner rather than later, but no strict ETA, hope you understand @michtio

[2018-03-31 00:57] intrepidws opened #418 "sort-by prop Numerical Ordering Issue"
I am using an `ais-refinement-list` and running into an issue where I cannot properly control the `sort-by` prop. I am specifying `:sort-by="['isRefined:desc', 'name:asc']"` but the results are returning in the following order:
- 1000-2000
- 10001-11000
- 11001-12000
- 12001-15000
- 15001-20000
- 20001-50000
- 2001-3000
- 3001-4000
- 4001-5000
- 5001-6000

It would be helpful to be able to tell Al

[2018-03-31 18:35] Haroenv commented on #418
hmm, in this case you can also pass a function to `sortBy` to do the sorting which works for numbers yourself. Let me know if you have any trouble creating it

[2018-04-02 12:04] intrepidws commented on #418
@Haroenv Interesting. Is there documentation on that? Or perhaps you could provide an example, so I know what arguments the function takes?

[2018-04-02 13:02] Haroenv commented on #418
The function takes The Same arguments as the native sort function: https://community.algolia.com/vue-instantsearch/components/refinement-list.html

[2018-04-03 15:11] intrepidws commented on #418
Thanks.

For anyone faced with a similar issue, this is how we fixed it.

First, added a sort method:
[code]

Then referenced this sort method:
[code]

[2018-04-03 15:11] #418 closed

[2018-04-03 15:26] Haroenv commented on #418
That's what I meant, thanks for sharing your solution!

[2018-04-04 15:34] #411 closed

[2018-04-19 19:43] ilearnio commented on #241
This is how I refresh results

[code]

[2018-04-20 07:48] Haroenv commented on #241
This is also possible, thanks for sharing @ilearnio :)

[2018-04-20 19:03] cschweda commented on #402
I have the same question: is there a way to render the search box but not automatically display the results?

I can hide the results, but I'm not clear on how I trap the first keypress in the search box. Checking for @keyup doesn't work.

Is there an easy way to simply not render any results until the users starts to actually type?

[2018-04-22 21:31] AndreyBashuk opened #428 "Unexpected token :"
**Bug: What is the current behavior?**
I try to use vueinstantsearch with my project, but i see the next error in my console:
https://monosnap.com/file/JJCsOWpHmnD8Fo6faqXTiVA0Oz0Qn6
Before i play with vueinstantsearch in testing project, and everything works great. I try to use SearchStore:
https://monosnap.com/file/1fFakzCtDJ3yEc05HPWdpvRRMgguCa
Error comes as soon as i make
import InstantSearch

[2018-04-23 08:54] Haroenv commented on #428
Seems pretty odd, can you make this into a standalone repository I can try things out in, I haven't seen this error before, but just seeing the error message in a screenshot won't be enough to debug this.

Thanks for providing with more info!

[2018-04-26 15:03] ligne13 opened #433 "Trying to setup multilingual search with the restrictSearchableAttributes parameter"
**Bug: What is the current behavior?**
Here is my <ais-index> component query-parameters config :
[code]
The browser's console says the following error :

But if I add a ```searchableAttributes```attribute like this :
[code]
I get the error below :

How can I fix this ? thank you !

[2018-04-26 15:10] ligne13 commented on #433
Woops, I just understood that searchable Attributes were defined in the Algolia UI and cannot be set through the Vue component at runtime. Tell me if I'm wrong...

[2018-04-26 15:10] #433 closed

[2018-04-26 23:47] beeston92 commented on #178
@haroenv what is the eta on the next version of Vue InstantSearch?

[2018-04-27 07:30] Haroenv commented on #178
Still working on it, there's some harder questions to resolve (SSR for example) and the widgets need to be moved. You can see the progress in #416. Feel free also to leave an email if you're interested in beta testing when it's available

[2018-04-27 12:56] ligne13 commented on #385
Hi,
I have this error in my console :

Though I've added the tags attribute in my index config :
[code]
My tags attribute is an array of strings, for example :
[code]
It works fine from the Algolia Dashboard with this custom query param `{ "attributesToHighlight": ["title", "content", "tags"] }` but not from my VueInstantSearch implementation.

Any idea why ?

[2018-04-27 13:15] ligne13 commented on #385
I also have the same issue for null attributes to be highlighted.

[2018-04-28 13:26] #428 closed

[2018-04-28 13:33] AndreyBashuk opened #440 "Can't removeFacet from searchStore."
**Bug: What is the current behavior?**
I create new searchStore instance using faceFilters. But i need to change facet when my route parameters changed. And i can't change facets manually. I try many methods, but i still can't do this.
![image](https://user-images.githubusercontent.com/35767496/39397030-565dfb42-4b01-11e8-904f-dfd4dbb81456.png)
![image](https://user-images.githubusercontent.com/35

[2018-04-29 07:32] Haroenv commented on #440
RemoveFacet is supposed to be called with a single argument, the name of the facet. I’m currently not close to a computer to try it out, but can you try changing that?

[2018-05-02 17:37] bwentzloff opened #442 "vue-instantsearch not compatible with vue-cli 3? Could not find a declaration file for module 'vue-instantsearch'."
I was able to run `npm install --save vue-instantsearch` successfully, but when starting the server, I get the following error:
`ERROR in /data/src/main.ts
Could not find a declaration file for module 'vue-instantsearch'. '/data/node_modules/vue-instantsearch/dist/vue-instantsearch.common.js' implicitly has an 'any' type.
Try 'npm install @types/vue-instantsearch' if it exists or add a new declara

[2018-05-02 17:39] Haroenv commented on #442
Hey! Seems like you’re adding typescript too. Can you make a repository which throws these errors?

[2018-05-03 07:31] fractalf commented on #402
@cschweda
Sounds like what you _really_ want is to set `auto-search` to `false` like described in the docs here https://community.algolia.com/vue-instantsearch/components/index.html

Here's an example of my setup
[code]
^ this will not fire a request on page load. It will however fire a request if the query is blanked out, which brings me to...

@Haroenv
A common use case is **not** to make a quer

[2018-05-03 07:34] Haroenv commented on #402
Hey @fractalf, I understand that this is an issue, and we have a solution for this use case for the next version of Vue InstantSearch (using `searchFunction` in which you have full freedom in which cases to send a query and in which not to). As you said, right now doing this would be possible by editing the `search-box` (copying it and using it in your own project), and using `searchStore.stop` /

[2018-05-03 07:35] Haroenv commented on #442
There's no typescript definition of Vue InstantSearch, you'll have to write your own (possible to write a simple stub which simply declares the module).

I'll gladly take a look on how to do it if I have a complete git repo to clone and try things around.

Thanks!

[2018-05-03 08:27] fractalf commented on #402
@Haroenv
Great stuff! You guys are pumping out code :)

I managed a solution (without a core hack) by combining the suggestion from that stackoverflow link with ith a local `query` that only change the "algolia" `query` when not empty. Until the next version comes out, this is good enough.

[2018-05-03 13:32] nolawill commented on #442
I threw up a quick repo with our exact vue app setup and the sample best buy code from your vue docs. (keep in mind that we are using [vue-cli-3](https://github.com/vuejs/vue-cli) when we set this up, just in case that has any impact)

[https://github.com/nolawill/vue-ais-typescript](https://github.com/nolawill/vue-ais-typescript)

Run the `npm install` and `npm run serve` and you should see the s

[2018-05-03 15:41] Haroenv commented on #442
Made it work, feel free to get back if that didn't do it https://github.com/nolawill/vue-ais-typescript/pull/1

[2018-05-03 15:41] #442 closed

[2018-05-03 15:42] Haroenv commented on #442
<img width="1440" alt="screen shot 2018-05-03 at 17 42 08" src="https://user-images.githubusercontent.com/6270048/39587264-5cffb9da-4ef9-11e8-8680-e395542e874e.png">

🙌

[2018-05-03 16:06] nolawill commented on #442
Confirmed. 👏🏼👏🏼👏🏼 No more declaration error. Thanks for the fix!

[2018-05-13 10:43] jaystacey opened #445 "show all refined parentlevel data for custom tree view"
**Do you want to request a *feature* or report a *bug*?**

Bug / feature

**Bug: What is the current behavior?**

Tree Menu component when filtering more than 2 levels deletes the previous levels data, except root levels data.

**Bug: What is the expected behavior?**

keeps the facets data when refined on sub levels

**Bug: What browsers are impacted? Which versions?**

all

**Bug: What is the pro

[2018-05-13 10:51] jaystacey commented on #445
Duplicate, my bad

[2018-05-13 10:51] #445 closed

[2018-05-13 16:29] Haroenv commented on #445
Note that I have a “quite hacky/workaroundy” solution for that component within v1, send me a mail at Haroen@algolia.com if you want it :)

[2018-05-15 19:29] stephan-v opened #446 "Make it possible for the sortBySelector to render something other than <select>"
**Do you want to request a *feature* or report a *bug*?**

Feature

**Feature: What is your use case for such a feature?**

Make it possible for the `sortBySelector` component to render something other than a select element.

**Feature: What is your proposed API entry? The new option to add? What is the behavior?**

Possibly add a prop to change the parent elements type an example of this can be f

[2018-05-15 19:45] Haroenv commented on #446
In v2 this would become almost trivial to provide your own rendering for a certain component.

For now I suggest you take a look at the component here, copy it and change the html to suit you.

Does that work?

[2018-05-15 19:51] stephan-v commented on #446
I did not know about a 2.0 release. I can certainly create my own component here and use the injected store that you provide.

The reason I made the suggestion is because I hardly know anyone who still uses a select element for a sort option. Therefore I would not make sense to have this as a default.

From a semantic point of view, I understand there is reason to keep it like it is. From a design

[2018-05-15 19:53] Haroenv commented on #446
Sure, I understand your point of view for sure. For that reason our default implementation will always be semantic elements, which can be styled, but not completely.

Let me know how it goes to edit the component to your needs, and feel free to reopen when you need more info

[2018-05-15 19:53] #446 closed

[2018-05-16 12:21] benjam-es opened #447 "I am looking at building a custom component to improve the tree menu"
Currently, I have products within multiple categories. This seems to be preventing the tree menu from working.

[2018-05-16 13:39] Haroenv commented on #447
Hey @benjam-es, could you send what exactly the problem is and the code you're using (preferably in a sandbox)? Thanks!

[2018-05-16 15:03] benjam-es commented on #447
Hi,

I have managed to get the tree menu to show by adding attributed for faceting within the algolia dashboard. (using a modified version of the ecommerce example)

However my tree menu is showing a list of subcategories, and not top level categories.

I am unsure how I could demonstrate this with the live data, and how/where I do this in a sandbox.

I could look to add the code to an accessible

[2018-05-16 15:52] samouss commented on #447
We have template that are ready to use, you can find it [here](https://codesandbox.io/s/github/algolia/instantsearch-templates/tree/master/src/Vue%20InstantSearch).

[2018-05-17 10:03] benjam-es commented on #447
Here is a sandbox using the sample data.

[https://codesandbox.io/s/o7nnwpxz35](https://codesandbox.io/s/o7nnwpxz35)

Those categories are the subcategories. It doesnt first show the top level to select

i.e. VISUAL INSPECTION EQUIPMENT > ATEX Camera

[2018-05-21 10:18] benjam-es commented on #447
Is it something I'm doing wrong?

[2018-05-21 10:44] Haroenv commented on #447
I’m on mobile now, but I can’t see anything obviously wrong. Could you send an email to support@algolia.com when you give access to the index so we can inspect it?

[2018-05-23 10:38] OneX opened #453 "How to use setSettings with searchStore?"
I want to change some settings on the index, mainly '[paginationLimitedto](https://www.algolia.com/doc/api-reference/api-parameters/paginationLimitedTo/)'.

How to set this?

[code]

This did not work for me.

[2018-05-23 10:50] Haroenv commented on #453
Hey @OneX, settings should only be set with a node (or other backend) client, since it needs credentials that would allow users to set any other setting they want, and read your whole search as well.

For that reason it's not supported with the search store.

Feel free to follow up!

[2018-05-23 10:50] #453 closed

[2018-05-23 12:46] OneX commented on #453
@Haroenv - but is there an option than to increase pagination limit via vue-instantsearch or i am stuck with 1000 per page.

[2018-05-23 13:43] Haroenv commented on #453
You can set it either via the dashboard or via a node script, you only need to set that setting once per index (unless you change it) @OneX

[2018-05-23 13:46] OneX commented on #453
@Haroenv - I can't find that option 'paginationLimitedTo' on Algolia Dashboard.

[2018-05-23 13:51] Haroenv commented on #453
Ah you're right, I was wrong, you can't set it via the dashboard, since it's a setting we discourage from setting unless in very specific use cases. In node you can do it like this:

[code]

[code]

[2018-05-24 16:22] benjam-es commented on #447
In my example - the problem was:

I had 'categories' with the final category in, and 'sub categories' with a 'top level > final level' structure. To work, it needed 'categories' to list the top level category, rather than the sub category.

[2018-05-25 11:51] benjam-es commented on #447
There is still a problem with the sandbox code above. The categories have been corrected as per the  help from the support email.

However:

Clicking the second category in the menu expands, but clicking the first does not.

[2018-05-28 11:22] rentorm opened #455 "How to use vue-instantsearch in SSR with Vuex?"
I'm struggling to integrate vue-instantsearch with Vuex store in Vue SSR app.

I've tried to follow https://github.com/algolia/vue-instantsearch-examples/tree/master/examples/ssr however this example is using only `context.store` and to adapt it using Vuex

My integartion attempst are following:

[code]
if I remove `ais-index` and just render out `{{ searchStore }}` I can see data returned, but if

[2018-05-28 11:51] Haroenv commented on #455
Hey! Would it be possible to set this up in a complete GitHub repo, there's still quite a few things that could be the source of this issue, so it'll be easier to debug like that!

[2018-05-28 14:16] rentorm commented on #455
I've set Github repo with current implementation, hope this helps - https://github.com/rentorm/vue-instantsearch-vuex

I think there might be something with a way `this.searchStore = createFromSerialized` methods are being used to set `searchStore` but I can't figure out another way how to initiate it on server.

[2018-05-28 14:34] Haroenv commented on #455
I'm still trying some things out, but I'm mostly wondering _why_ you want the `searchStore` to be in Vuex, would it not also be fine to do it like in the example?

[2018-05-28 14:36] Haroenv commented on #455
The reason errors are happening is because `searchStore` only has getters in your Vuex store (`...mapGetters`), but no setters (since that would make the need for Vuex alltogether fade away (no longer unidirectional). For that reason I suggest using context directly (like in the example) 😊

[2018-05-28 16:26] rentorm commented on #455
reason I'm trying to set up with Vuex is because whole application state is managed through `store` rather than `context` and I did not want to have a set up where they both are managed separately.

I made a quick try for them both to coexist in this branch - https://github.com/rentorm/vue-instantsearch-vuex/tree/using-context and it does generate SSR values, but those still are not passed to `con

[2018-05-28 20:43] rentorm commented on #455
I did not find a way to mix `context.state` with `store.state` and moved `vue-instantsearch` code in store `action`. I created new brach with this code - https://github.com/rentorm/vue-instantsearch-vuex/tree/vuex-action

This now will render search results on `Search` page while navigating from other pages. However if page is requested directly search results are rendered by server, I get console

[2018-05-31 08:57] benjam-es commented on #447
One category had a trailing space (server side issue), so algolia was seeing was looking for 'space > space' and finding 'space space > space' which was breaking things

[2018-05-31 08:57] #447 closed

[2018-05-31 10:31] Arvind6353 opened #458 "Custom highlight prefix tag using ais-highlight directive"
Hi ,

How to provide custom highlight prefix tag using ais-highlight directive?

Thanks,
Arvind

[2018-05-31 10:34] Haroenv commented on #458
With ais-highlight you're able to use the highlight prefix and postfix tags set in the dashboard. Does that behave as you expected?

[2018-05-31 10:34] Haroenv commented on #458
*does that __not__ behave as you expected?

Could you make a fiddle please showing what you have and what you want?

[2018-05-31 10:38] Haroenv commented on #447
all right, so it was what I expected after all. I haven't seen this kind of issue before, but I wonder if maybe we could do something with calling `.trim` on the strings, @bobylito ?

[2018-05-31 11:04] Arvind6353 commented on #458
@Haroenv : In the dashboard I changed the values to "<highlightsearch> and </highlightsearch>". But in the UI am getting only <em>

[2018-05-31 11:30] Haroenv commented on #458
Can you try to show this in this fiddle, Vue InstantSearch seems to follow my settings here:

https://codesandbox.io/s/jpxwx04749

(note that you can set `highlightPreTag` both in the dashboard and in search parameters)

[2018-06-01 05:03] Arvind6353 commented on #458
@Haroenv  Thanks. Its working . I made a mistake in the config.

[2018-06-01 05:04] Arvind6353 commented on #458
@Haroenv : I used the demo app from algolia . it had some nice styling .
Do we have a styling that is similar to the demo application with vue-instant-search components ?

[2018-06-03 13:27] Arvind6353 opened #460 "Search bar for refinement list when the count is more"
Hi ,

Is there a feature for adding search inside the refinement list in case the count of the list is more .

I find this feature in the browse section of the indices in the Algolia site

![image](https://user-images.githubusercontent.com/23059431/40887040-e60f8268-675f-11e8-8d2f-77aeca2af088.png)

[2018-06-03 13:27] #458 closed

[2018-06-03 13:46] Arvind6353 commented on #224
Hi Team ,

Any update on the support of searchForFacetValues for refinementList ?

[2018-06-04 04:29] Haroenv commented on #460
Hey! This will be present in the next version and is tracked in https://github.com/algolia/vue-instantsearch/issues/224

[2018-06-04 04:29] #460 closed

[2018-06-08 22:30] truthuntold opened #462 "Is aroundLatLngViaIP supported?"
I have attempted to put `aroundLatLngViaIP="true"` on my `ais-index`, and `ais-input` but the results are the with or without it. It could very well be attempting to search with my IP however I'm not sure how to tell if it is using my local IP.

I'm using Laravel 5.5 as a backend if anyone thinks that could be problem.

[2018-06-08 22:35] Haroenv commented on #462
Hey @truthuntold, `aroundLatLngViaIP` is a search parameter which isn't explicitly added to `ais-index`, but rather the `query-parameters` prop of it:

[code]

see: https://community.algolia.com/vue-instantsearch/components/index.html#usage

[2018-06-08 22:35] #462 closed

[2018-06-18 08:49] renanbronchart opened #463 "Can I copy search store ?"
I want to create search Store inherit of other search Store but it seems impossible.
Have you an idea ?

I would like this because I want to have just one search, one refinement list but three ais-index with different query parameters.

When I change query parameters of one ais-index, it seems change others ais-index.

Thanks a lot.

[2018-06-18 08:56] Haroenv commented on #463
You should be able to do this with the helper:

[code]

see https://community.algolia.com/vue-instantsearch/getting-started/search-store.html#create-a-search-store-from-an-algolia-helper-instance and https://community.algolia.com/algoliasearch-helper-js/reference.html#derive-multi-queries

[2018-06-18 10:30] renanbronchart commented on #463
Thanks for the reply !
But I have an other problem, when I have created he second store, console display Store should be constructed with an AlgoliaSearchHelper instance as a first parameter.

Below, screen shots of my code and console error.
![capture d ecran 2018-06-18 a 12 25 19](https://user-images.githubusercontent.com/16922579/41531336-477714be-72f3-11e8-854f-c2e96beeb878.png)

![capture d e

[2018-06-18 11:00] Haroenv commented on #463
Ah, that's probably because of our code checking for instanceof. Sorry for that.

https://github.com/algolia/vue-instantsearch/blob/cec11e1aeee851324782522007d645581bc04f31/src/store.js#L43

Not completely sure what the instanceof is that would work with a derived helper, can you try what would work?

[2018-06-18 12:38] renanbronchart commented on #463
Yes It seems doesn't work.
derived helper is an instance of derived helper so it doesn't work.

Have you got an other idea to copy/duplicate without reference my store ?

[2018-06-18 13:32] Haroenv commented on #463
You can do a PR to change that if to accept derived helpers too :)

[2018-06-18 14:49] gruenekampfente opened #464 "Pagination component false name for current page"
I've just figured out that there is a false value for the pagination default slot in the official documentation. The name of the current page for the scoped-slot is not "item" but "value".

Link: <https://community.algolia.com/vue-instantsearch/components/pagination.html>

[2018-06-18 21:55] SamJWeissman commented on #325
Hopefully this isn't a stupid question!

Until this is available, are there any examples of how one might do this with what's available? Would it be similar to the RangeInput, IE:

[code]

Thank you in advance!

[2018-06-19 07:35] Haroenv commented on #464
ah that's right, sorry for the confusion. It really should have been `item` all along. I fixed the documentation in https://github.com/algolia/vue-instantsearch/pull/465

[2018-06-19 07:39] Haroenv commented on #325
Yes, you'll need to do addFacet and removeFacet on unmount @SamJWeissman, if you have an example in codesandbox, I'll gladly take a look on how to fix it. Note that in your code sample you wrote the `=` outside of your string.

[2018-06-19 08:42] #464 closed

[2018-06-19 22:22] SamJWeissman commented on #325
@Haroenv

Thanks for the advice! For now we're going to just Facet down on the "month" of our data -- fits our use case better and allows us to leverage everything Vue InstantSearch comes with out of the box.

[2018-06-20 06:57] Haroenv commented on #325
Good to know! In the future we will consider dates as a widget to build, but there’s more frequently requested things for now. Please upvote the issue if this is relevant to your interests.

[2018-06-20 13:27] renanbronchart opened #466 "[Question] Mock instant search request in jest test"
I have an error in jest test because I test with key app that don't exist.
I want to stop the request algolia. Is that possible ?

Thanks a lot.

[2018-06-20 13:28] renanbronchart commented on #466
![capture d ecran 2018-06-20 a 15 27 49](https://user-images.githubusercontent.com/16922579/41661279-9a9836ee-749e-11e8-8b4c-dd639e1edb8d.png)

[2018-06-20 13:51] Haroenv commented on #466
You should be able to mock the `algoliasearch().search()` function to what you expect. We don't have an existing mock, but there's one used in an OSS project here: https://github.com/CocoaPods/indexer.cocoapods.org/blob/master/__mocks__/algoliasearch.js

[2018-06-26 15:19] mandersondesign commented on #309
👍 This is hard to parse right now. A lot of the same things that we could do with the plain javascript version of instantsearch, I think are possible with the vue implementation. but we have no direct way to actually figure out how that works...

[2018-06-26 15:50] Haroenv commented on #309
search store is going away in the next version of Vue InstantSearch (planned for the coming months). Instead we will be reusing infra from the vanilla InstantSearch. For now, feel free to ask any questions you have.

[2018-07-02 14:41] P373 commented on #388
@Haroenv - I have the same use case and still cannot get this custom component to work even with your instructions (new to Vue). Are there any tutorials or walk throughs on how to get this custom component mixin with default slot to work? Best I have found thus far is: https://discourse.algolia.com/t/how-to-hide-results-when-the-query-is-empty-with-vue-instantsearch/2235/19.
Thanks in advance.

[2018-07-02 17:06] P373 commented on #388
Sure.
The demo site is massworkcomp.com,
When you go to the site right now, vue instantsearch / algolia queries the index immediately returning over 1800 results. I prefer to wait until the user types the first character for the results to query or display (similar to your response on Feb 2 of this same thread). I've tried implementing the custom component with `v-if="searchStore.query.length > 0"

[2018-07-05 16:15] agdavid opened #468 "[Docs] Note for User to Try "0.0.0.0"
**Do you want to request a *feature* or report a *bug*?**

**Bug: What is the current behavior?**

**Bug: What is the expected behavior?**

**Bug: What browsers are impacted? Which versions?**

**Bug: What is the proposed solution?**

**Feature: What is your use case for such a feature?**

**Feature: What is your proposed API entry? The new option to add? What is the behavior?**

**What is the ver

[2018-07-05 16:20] agdavid opened #469 "[Docs] Note for User to Try "0.0.0.0" if "localhost" does not render"
Hi! I used the easy-to-follow [Getting Started](https://community.algolia.com/vue-instantsearch/getting-started/getting-started.html) guide.

When I ran `npm run dev`,  the browser did not properly render the sample app on `localhost:8080`. However, a change to `0.0.0.0:8080` successfully rendered the app.

Consider adding a note to the Getting Started guide for the user to try `http://0.0.0.0:808

[2018-07-05 16:33] samouss commented on #468
Duplicate of https://github.com/algolia/vue-instantsearch/issues/469

[2018-07-05 16:33] #468 closed

[2018-07-05 22:29] Haroenv commented on #469
Maybe we can just put that or 127.0.0.1 in the guide. I’ve fallen for it too, still not sure what the cause is

[2018-07-12 07:35] Haroenv commented on #388
@P373, here's a sandbox with the code:

https://codesandbox.io/s/p5nop57170

Note that it's a different file, it's quite important to be able to use the search store

[2018-07-26 07:33] cloudbluedigital opened #472 "Best way to modify Menu component?"
Hi Guys,

I am trying to use algolia with Menu component to create a navigation. The problem I am having is that it renders as

[code]

I don't need the div with class `ais-menu` and also the div with class `nav-item` I want it to be as `<li>` instead. What is the best approach for that? I tried using slots but I couldn't get it work

here is my current code
[code]

Thanks for help

[2018-07-27 07:16] Haroenv commented on #472
Hey @cloudbluedigital, for now the best option you have is the following:

1. copy our real `Menu.vue` file from [here](https://github.com/algolia/vue-instantsearch/blob/master/src/components/Menu.vue)
2. change relative imports to directly from `vue-instantsearch`
3. make your edits to the DOM you need

The next version of Vue InstantSearch will have a more straightforward way of changing the DOM

[2018-07-27 07:16] #472 closed

[2018-07-27 16:32] cloudbluedigital opened #474 "Custom menu component what to use for imports"
As suggested in #472

I am trying to create my custom Menu component however what do I need to use for the imports? I tried to use vue-instasearch module but that didn't work.

[code]

[2018-07-27 18:51] Haroenv commented on #474
Algoliacompnent is `{ Component }`, facet_tree is correct.

[2018-07-31 07:02] cloudbluedigital commented on #474
I have tried changing it to `{ Component }` and that didn't work @Haroenv

[2018-07-31 08:10] Haroenv commented on #474
[code]

Here is a version I edited like you requested in the previous issue: https://codesandbox.io/s/j288q11k7w

[2018-07-31 08:10] #474 closed

[2018-08-07 03:09] zymawy opened #475 "Tree Menu laravel category"
Hi Coder,

Thank You For This Cool Components.
I'm Trying To Accomplish Category And SubCactegory Tree Menu With Laravel.
I want Import It From Laravel Like This
[code]

In My Project, I have Category Table And This Is The Structure Of The Table

[code]

And On My `Product` Model

[code]
How I Can Achive That.
Thank You For Everything.

[2018-08-07 08:04] julienbourdeau commented on #475
Hi @zymawy, can you paste here what the array look like in the end?

To explain what you need to do, I think you should get something close to this:

[code]
Note: the code is not tested, it's just an example to illustrate what you have to do here.

I'll close the issue for now as it's not a bug but please, let me know if that worked!

[2018-08-07 08:04] #475 closed

[2018-08-07 14:46] jvignolles opened #476 "Bug: no search results on IE11"
**Bug: What is the current behavior?**

Search results are not displayed on IE11.

**Bug: What is the expected behavior?**

To see search results on IE11 (Internet Explorer 11).

**Bug: What browsers are impacted? Which versions?**

IE11.

**Bug: What is the proposed solution?**

No solution.

Here, one of the samples to reproduce the issue: https://s3-eu-west-1.amazonaws.com/vignolles/files/test_

[2018-08-07 14:55] Haroenv commented on #476
That’s right, I thought we mentioned it in the docs but apparently not; please use [polyfill.io](https://polyfill.io/v2/docs/) or other polyfills for ie11 compatibility.

[2018-08-07 15:22] zangab opened #477 "attribute for distinct is unknown"
**Do you want to request a *feature* or report a *bug*?**
Bug, reproduction in sandbox: https://codesandbox.io/s/vmqnomr3l3
According to the documentation, it should work: https://community.algolia.com/vue-instantsearch/components/index.html

**Bug: What is the current behavior?**
Query-Parameter "attributeForDistinct" is unknown -> browser crash/freeze!

**Bug: What is the expected behavior?**
No

[2018-08-07 15:35] samouss commented on #477
You cannot provide [`attributeForDistinct`](https://www.algolia.com/doc/api-reference/api-parameters/attributeForDistinct) at query time. This parameter is only available at indexing time. You can either configure it in your [Algolia Dashboard](https://www.algolia.com/dashboard) inside the "Display" section. Or you can use one of our client to manually to configure it programmatically using [`setS

[2018-08-07 15:35] #477 closed

[2018-08-07 15:54] zangab commented on #477
thx for your answer @samouss .
could u please update the docs? quite confusing this way.

Can I even set this setting somehow via vue-instantsearch?

[2018-08-07 15:58] zangab commented on #477
and as I've seen here: https://www.algolia.com/doc/api-reference/api-parameters/distinct/#examples
Could I activate the `distinct` at query time and set the attribute at the algolia dashboard?

[2018-08-07 16:02] Haroenv commented on #477
indeed, at query time you can toggle the display of distinct, or the number of items for distinct; but at settings time (e.g. via dashboard) you need to set which attribute is used for the distinct @zangab

[2018-08-07 16:16] jvignolles commented on #476
Thank you! Polyfill.io fix my issue.

[2018-08-07 16:37] zangab commented on #477
nice. working like a charm. 😸 👌

[2018-08-09 14:30] zangab opened #480 "Bug: watcher for query-parameters not checking nested changes"
**Do you want to request a *feature* or report a *bug*?**
BUG.

**Bug: What is the current behavior?**
When changing the query-parameters (at ais-index), algolia does not trigger a query / request. Therefore the result is not updated.
Reproduction: https://codesandbox.io/s/vmqjnzq7l5

**Bug: What is the expected behavior?**
A request is sent after changing the query-parameters.

**Bug: What is the

[2018-08-19 23:45] mydnic commented on #310
@rayrutjes the guides are not very clear about customizing the refinement-list. What if I want to replace my facets labels with images instead of text ?

Another example: I have a model User with boolean attributes:
is_moderator : true/false
is_admin : true/false

How can I filter through these with refinement-list component?

[2018-08-20 07:16] Haroenv commented on #310
@mydnic the process has these steps

1. make a new component
2. copy in it the contents of [RefinementList.vue](https://github.com/algolia/vue-instantsearch/blob/master/src/components/RefinementList.vue)
3. change imports:

[code]

4. change mixin:

[code]

5. Change view logic to whatever you need to have correct rendering

Hope that makes sense

[2018-08-20 11:07] mydnic commented on #324
Hello @Haroenv
One year later, what's the solution for this ?

I have 4 refinement list that each have 2 values (true and false). If I use the search input and type some random stuff, the refinement lists disappear. But they are part of my UI so I prefer to have them display at all time even if clicking on the facet won't bring any new result.
Furthermore it's sometimes buggy, they don't reappear

[2018-08-20 11:13] OneX commented on #324
@mydnic you can build custom plugin using code from refinement list, you provide your own list of options you have for each list, then you create a method that compares you list with refinement list coming from Algolia. This is the only solution I could come up, that would not take too much time to do.

[2018-08-20 11:32] Haroenv commented on #324
Note that in the next version of Vue InstantSearch; we _will_ have searchable on the refinement list

[2018-08-28 11:19] fusionsquare opened #501 "Access query inside <ais-results>"
How can i access the query within the  <ais-results> Element? I'll want add a "show results" link within the suggest.

[2018-08-28 13:34] Haroenv commented on #501
Hey @fusionsquare, you can do that by wrapping the results widget in another widget, which would have access to the search query:

[code]

https://codesandbox.io/s/jz0kvx76ky?module=%2Fsrc%2FMyResults.vue

Don't hesitate to get back if there's any more questions!

[2018-08-28 13:34] #501 closed

[2018-08-29 08:14] fusionsquare commented on #501
It works, thanks!

[2018-08-29 12:59] Haroenv commented on #501
perfect!

[2018-09-04 02:13] besnikh opened #503 "ais-range-input not working \ Error: price is not present in `facets` or `disjunctiveFacets`"
Bug: ais-range-input

Behavior:
Component `ais-range-input` is not working at all from my localhost.

All other components are working fine but not range input

To test it i used price-range with this code:
[code]

Now this component above is working fine and if I use the the range component with attribute price it's not working

[code]
The main reason I want to use range component is year but sin

[2018-09-04 17:47] Haroenv commented on #503
I've just tried it to be sure, and it works on my end: https://codesandbox.io/s/6yx1zrpm8w

Do you have your `price` attribute always as number, or is it maybe a string sometimes?

[2018-09-04 22:12] SebSzcze commented on #412
Any update on this?

[2018-09-04 22:37] Haroenv commented on #412
The next version will be ready for a beta in a few weeks

[2018-09-05 08:44] besnikh commented on #503
@Haroenv always as a number.

I am testing with 3 documents only so I double checked that.
As I noted above when I use the price range for attribute price, everything is working fine, but when using the price attribute with range its not working.

I have to not that I am using latest version of nuxt, it will bve ssr but at this time I am using <no-ssr> before ais tag.

Also please note because I f

[2018-09-05 17:02] Haroenv commented on #503
for range input to work you need to make it into this:

[code]

[2018-09-05 17:02] Haroenv commented on #503
please reopen if there's more issues :)

[2018-09-05 17:02] #503 closed

[2018-09-05 17:57] mycaule commented on #414
Closing this thank you very much.

[2018-09-05 17:57] #414 closed

[2018-09-05 18:37] Haroenv commented on #414
We will keep this issue in mind, when we make this a built-in future in the future. Thanks!

[2018-09-10 15:55] ayalon opened #645 "Multilingual facets"
Hi

We try to index multilingual facets.

Example in the database:

facet_id | "Name DE" | "Name EN"
--------|-------------|--------------
1            | "Label DE"   | "Label EN"

In the search vue app we need mixed languages in the results. This means, for DE results we index "Label DE" and for EN results we index "Label EN".

The main issue is, that the same facet will appear as "Label DE" and

[2018-09-11 16:51] Haroenv commented on #333
solved in a different way in #416

[2018-09-11 16:51] #333 closed

[2018-09-11 16:52] Haroenv commented on #334
addressed in #416

[2018-09-11 16:52] #334 closed

[2018-09-11 16:52] Haroenv commented on #466
Please reopen if this is something which wasn't clear yet.

[2018-09-11 16:52] #466 closed

[2018-09-11 16:53] Haroenv commented on #316
this is addressed in v2 #416 (more specifically #505)

[2018-09-11 16:53] #316 closed

[2018-09-11 16:54] Haroenv commented on #171
This should be clear now, since it's documented in both the Vue documentation, as well as the new v2 documentation. See #416 for more info on that.

[2018-09-11 16:54] #171 closed

[2018-09-11 17:01] Haroenv commented on #309
This issue is no longer relevant with v2 #416, since the concept of search store goes away

[2018-09-11 17:01] #309 closed

[2018-09-12 11:24] jack-pallot opened #514 "Invoke function on keyup event"
I need to re-render a part of UI on the page whenever the search query changes. Initially, I've tried to setup a watcher on the input query, but I can't seem to access the value. Here's what I'm trying to do in Vanilla JS, I just need a way of converting this to use within Vue.

[code]
 Is there an emitted event, or a way of accessing this data? Any help would be appreciated.

[2018-09-12 16:15] Haroenv commented on #514
It would indeed be more vue-like to do something based on the query, rather than the keyup there.

The way you would do that is the following:

1. make a custom component
2. use the Algolia component mixin
3. use the query wherever on `this.searchStore`

The code of that component would look like this:

[code]

I made an example here: https://codesandbox.io/s/z5718oqm3

I hope that helps, but plea

[2018-09-12 16:15] #514 closed

[2018-09-17 18:07] Draer commented on #396
Worst answer ever :P

[2018-09-18 21:55] gpassarelli opened #517 "v2 - Overriding class names not working"
**Feedback on the v2 alpha version 🆕**

### Describe the bug / features
When you pass the prop `class-names` to  the components, as described in here [https://deploy-preview-416--vue-instantsearch.netlify.com/getting-started/styling.html#overriding-class-names](url)
 the classes are not beeing overriding, instead it add the attribute as `class-names="[object Object]" `

### Reproduction
https://co

[2018-09-19 07:08] Haroenv commented on #517
That's correct, thanks for notifying me of this, that guide was for v1 and it wasn't yet updated (as noted in the beginning of the guide).

The feature however isn't present yet in v2. I'll add it 👍

[2018-09-19 13:42] gpassarelli commented on #517
Haroen, thanks, I've noticed the note saying that the guide was not updated yet, I was just not sure if it was only the document that it was not updated, but the feature was present, or if the feature was not present yet;

I'm making some tests with the v2 branch, do you want me to keep opening issues for the things I find?

[2018-09-19 13:46] Haroenv commented on #517
Yes, please do open issues! All feedback is welcome.

Note by the way that the example you posted, you tried to replace the class names with the ones already used

[2018-09-19 14:37] gpassarelli commented on #517
Alright, I'll.

I know, it's just because I copied from the template you guys provide and only updated the version. On my tests, I'm using my own class names.

[2018-09-19 14:57] gpassarelli opened #519 "v2 - HierarchicalMenu TypeError: Cannot read property 'suit' of undefined"
**Feedback on the v2 alpha version 🆕**

### Describe the bug / features
HierarchicalMenu is not working, when you try to use it, it gives the following error:
`TypeError: Cannot read property 'suit' of undefined`

### Reproduction

https://codesandbox.io/s/l4wxnxy2jz

### What is the version you are using?
v2.0.0-alpha

[2018-09-19 15:08] Haroenv commented on #519
has been fixed since, but not yet released. Will close when confirmed on next alpha

[2018-09-19 15:11] Haroenv commented on #519
https://github.com/algolia/vue-instantsearch/pull/515/commits/cae0ba987753b430c125cc1c3742943f64b00ae7 is the commit that fixed it by the way

[2018-09-20 14:27] gpassarelli opened #526 "v2 - multi-index with sync on more than just query"
**Feedback on the v2 alpha version 🆕**

Not sure if this is a bug, or if I'm missing something.
I have two indexes and both of them have the same record structure. Products and Offers (not sure if I should have them on separate indexes or on the same and only have a boolean field that has isOffer for example, but that's not the point the point is, I want to display boht indexes on the same page, b

[2018-09-20 15:28] Haroenv opened #527 "v2 - make range-input customisation unnecessary"
**Feedback on the v2 alpha version 🆕**

### Describe the bug / features

We use -Infinity / Infinity as values, but those need to be adjusted often to be correct. Let's change those values to be more straightforward

### Reproduction

see usages in

https://github.com/algolia/vue-instantsearch/blob/2756848be313539d01b6da752c464d00ad2f75e0/stories/RangeInput.stories.js#L38-L124

### How to resolve

[2018-09-20 15:41] Haroenv commented on #526
Hmm, so maybe that's documentation which is unclear, but ais-configure doesn't accept any v-model like that. It's more meant to sync for example the query or any other search parameter like done in the example.

However synchronising two widgets like that, across both indices, is something that was only added to the ais-search-box.

Do you have this in your current design requirements to synchroni

[2018-09-20 17:02] gpassarelli commented on #526
Haroen, thanks for your reply.

I don't need to synchronize the widgets itself, not even sure if I need to display both widgets, I just need one of them. But I need that the "filters" applied with the widgets be applied to both indexes.

This is why I thought I could use the ais-configure to sync this "search parameters"

As the facets values are added to the URL, when I reload the page, both inde

[2018-09-21 07:42] Haroenv commented on #526
Yes, that totally makes sense. It's something not currently foreseen in the design of the APIs, but something that we will keep in mind when we make a _proper_ way of doing multi-index.

The proper way to allow the widgets to be controlled would be like the code in SearchBox, but it's really more messy than what I'd want to build into every widget now.

A real good API would look more like the one

[2018-09-21 12:47] tfossoul opened #528 "v2 - export 'SearchInput' was not found in 'vue-instantsearch'"
**Feedback on the v2 alpha version 🆕**

### Describe the bug / features

I'd like to apply the vuetify design on my algolia widget.
So I have to extend the searchInput to adapt the html template.

I tried to add this line "import { SearchInput } from 'vue-instantsearch'" but i got this following error:
"export 'SearchInput' was not found in 'vue-instantsearch'"

Btw I don't see the "SearchInput" o

[2018-09-21 13:09] samouss commented on #528
You should be able to use the slots to customise the SearchBox. We have some examples in [Storybook](https://deploy-preview-416--vue-instantsearch.netlify.com/stories/?selectedKind=SearchBox&selectedStory=with%20custom%20rendering&full=0&addons=1&stories=1&panelRight=1&addonPanel=storybooks%2Fstorybook-addon-knobs). Here is the source code of the example:

https://github.com/algolia/vue-instantsea

[2018-09-21 13:44] tfossoul commented on #528
thanks, i check this :)

[2018-09-21 15:10] Haroenv commented on #528
Please feel free to continue answering on this issue. I'll just close it for now since I think this is the correct solution. Please keep us updated on all questions you have @tfossoul!

[2018-09-21 15:10] #528 closed

[2018-09-21 15:12] Haroenv commented on #367
Hmm @ishitatsuyuki, are you using the latest version? The PR has been merged to fix this almost a year ago. Can you give a GitHub project where you receive this error?

[2018-09-21 15:35] Haroenv opened #530 "v2 - move focus on submit and clear of searchbox"
**Feedback on the v2 alpha version 🆕**

### Describe the bug / features

see explained behaviour in
https://blog.algolia.com/mobile-search-ux-tips/

### Reproduction

can see it in the [storybook](https://deploy-preview-416--vue-instantsearch.netlify.com/stories/?selectedKind=SearchBox&selectedStory=default&full=0&addons=1&stories=1&panelRight=1&addonPanel=storybooks%2Fstorybook-addon-knobs)

###

[2018-09-21 15:56] Haroenv opened #531 "v2 - add playground with knobs of all props to each widget"
Already done: configure, menu

[2018-09-21 16:49] tfossoul commented on #528
@Haroenv We'll migrate our system in the begining of october and I hope everything will be all right. You are doing a great job btw :)

[2018-09-22 12:03] Haroenv commented on #528
Awesome 👏 keep the comments coming and if you miss something. I’ll make sure to also make an example with all the vuetify components (range is already done in the stories).

[2018-09-22 12:06] Haroenv opened #532 "V2 - vuetify demo"
**Feedback on the v2 alpha version 🆕**

### Describe the bug / features

Add a full demo (e-commerce?) with vuetify.

### Reproduction

Questions about it in #528

### How to resolve or implement the fix?

Demo as in React InstantSearch with material ui

### What is the version you are using?

v2.0.0-alpha.1

[2018-09-25 18:08] JustinSainton commented on #224
@rayrutjes Just adding a voice of support for adding this feature to this repo. This would be massively helpful.

[2018-09-25 19:46] JustinSainton commented on #224
@Haroenv Thanks for that, seeing this error on the console after following migration instructions: Unknown custom element: <ais-instant-search>

Full console log:
[code]

[2018-09-25 19:47] Haroenv commented on #224
Can you make a new issue with a reproducible codeSandbox please? Maybe you didn’t update the dependency?

[2018-09-25 20:54] lizkaraffa opened #535 "Unable to run vue-instantsearch on version 2.0.0-alpha.1 via migration documentation"
**Feedback on the v2 alpha version 🆕**

### Describe the bug / features
I was able to spin up a new vue instantsearch no problem when I wasn't on alpha. I followed the documentation provided on [migration](https://deploy-preview-416--vue-instantsearch.netlify.com/getting-started/migration.html) to try and test out the new features in alpha. However, once I spun up a new vue project with alpha and

[2018-09-25 20:54] lizkaraffa commented on #224
@Haroenv here is [issue 535](https://github.com/algolia/vue-instantsearch/issues/535) with the codeSandbox you requested @JustinSainton to create. Thanks!

[2018-09-25 21:30] Haroenv commented on #535
Oh sorry, I’ve updated the docs but this is not yet released, please use ais-index for now (will release alpha 2 with ais-instant-search very soon)